<html>
    <head>
        <title>Tvastra/About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/themes.css">
        <link rel="stylesheet" href="../css/aboutUs.css">               
    </head>
    <body>
        <nav class="top-nav">
            <div class="nav-logo">
                <a href="./index.html">
                <img class="logo-tvastra" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" >
                </a>
            </div>
            <div class="desktop-nav desktop">          
                    <ul>                            
                        <li><a href="doctor.html">Doctors</a></li>
                        <li><a href="hospital.html">Hospitals</a></li>
                        <li><a href="treatments.html">Treatments</a></li>
                        <li>Other Services</li>
                        <li><a href="aboutUs.html">About</a></li>
                    </ul>
            </div>
            <div class="navButtons desktop">
                        <button class="third navButton1">
                            Login/Signup
                        </button>
                        <button class="primary navButton2">                        
                            Get a Quote
                        </button>
            </div>
            <i class="fas fa-bars mob-tab"></i>
        </nav>

        <section class="livingHealthy ">
            <h3>Living Healthy Matters.</h3>
            <p>Our specialists aspire to bridge the gap between your benefits plan and the health needs</p>
        </section>

        <section class="contaner1 container">
            <div class="descriptionSection">
                <h3 class="containerHeading">
                    You have to begin to tell the story of your life as you now want it to be and discontinue the tales.
                </h3>  
                <div class="containerPara">         
                    <p>
                        Deployment long tail monetization strategy equity basic of team of conversion.
                        Supply chain freemium investor long tail agile workers prototype validation
                        influencer market share.
                    </p>
                    <p>
                        Deployment long tail monetization strategy equity basic of team of conversion.
                        Supply chain freemium investor long tail agile workers prototype validation
                        influencer market share.
                    </p>
                    <p>
                        Deployment long tail monetization strategy equity basic of team of conversion.
                        Supply chain freemium investor long tail agile workers prototype validation
                        influencer market share.
                    </p>
                </div> 
                <figure class="signFigure">
                    <img class="signImg" src="https://workspace.konfinity.com/swapnil/tvastra-wiki/-/wikis/uploads/4fc21c9361b299095dc0115203810122/signature.png" alt="">
                </figure>
            </div>
            <div class="imgSection">
                <figure class="docFigure">
                    <img class="docImg" src="https://workspace.konfinity.com/swapnil/tvastra-wiki/-/wikis/uploads/f88a838629eeeaa3e8c1722181bb3c5e/femaleDoctor.png" alt="">
                </figure>
            </div>
        </section>

        <section class="container2">
            <div class="container2-sub">
                <h3 class="containerHeading">
                    Your wellness builds upon the medical daily
                </h3>  
                <div class="containerPara">         
                    <p>
                        Find your best self here. Discover new ways to live an inspiring life through natural beauty, nutrition and diet, an active lifestyle, and better relationships.
                    </p>
                </div> 
                <div class="checkupButton">
                    <button class="secondary">Get a Free Checkup</button>
                </div>
            </div>
            <div class="stats">
                <div class="statItem">
                    <h3>12M</h3>
                    <p>Happy Patients</p>
                </div>
                <div class="statItem">
                    <h3>5K</h3>
                    <p>Medical Assistants</p>
                </div>
                <div class="statItem">
                    <h3>9.8</h3>
                    <p>Alexa Score</p>
                </div>
                <div class="statItem">
                    <h3>3.8k</h3>
                    <p>Doctors Available</p>
                </div>
                <div class="statItem">
                    <h3>45k</h3>
                    <p>Cure Rate</p>
                </div>
                <div class="statItem">
                    <h3>75</h3>
                    <p>Health POints</p>
                </div>
            </div>
        </section>
        
        <section class="container joinTeam">
            <div class="joinTeamSub">
                <h2 class="joinTeamSub-1">Join our team</h2>
                <p class="joinTeamSub-2">We are always looking for good and talented people</p>
                <div class="joinTeamSub-3 ">
                    <button class="secondary ">Submit your CV</button>
                </div>
            </div>
        </section>

        <section class="container7">
                <figure class="foot-image">
                    <img class="footer-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="">
                </figure> 
                <div class="foot-list">       
                    <ul>                       
                        <li><a href="doctor.html">Doctors</a></li>
                        <li><a href="hospital.html">Hospitals</a></li>
                        <li><a href="treatments.html">Treatments</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="FAQ.html">FAQs</a></li>
                    </ul>
                </div> 
                <div class="foot-list2">
                    <ul>                       
                        <li><i class="fab fa-facebook-f"></i></li>
                        <li> <i class="fab fa-pinterest-p"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-google-plus-g"></i></li>
                        <li> <i class="fab fa-instagram"></i></li>
                    </ul>
                </div>
                <div class="foot-rights">
                    <p>All Rights Reserved. © tvastra 2018</p>
                </div>
        </section>
    </body>
</html>