<html>
    <head>
        <title>Tvastra/About Apollo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/themes.css">
        <link rel="stylesheet" href="../css/aboutApollo.css">  
        <link rel="stylesheet" href="../css/common.css">                  
    </head>
    <body>
        <%- include ('partials/header.ejs') %>
        
        <section class="about">
            <h2>About Apollo Hospital</h2>
            <p>Home/Hospital  profile</p>
        </section>

        <section class="mainContainer">
            <div class="subContainerAbtApollo">
                <div class="imgSection">
                    <figure class="hosfigure">
                        <img class="hosImg" src="../images/Apollo.JPG" alt="">
                    </figure>
                    <div class="bookingButton">
                        <button class="primary">Call Now</button>
                    </div>
                </div>
                <div class="aboutHospitalSection">
                    <div class="Summary">                    
                        <h2 class="name">Apollo Hospital</h2>
                        <div  class="hospitalLoc">
                            <div class="addressAndBed">
                                <i class="fas fa-map-marker-alt"></i>
                                <p>Delhi Mathura Road, Sarita Vihar, Delhi 1100776</p>
                            </div>
                            <div class="addressAndBed">
                                <i class="fas fa-bed"></i>
                                <p>100 beds</p>
                            </div>
                        </div>
                        <p>
                            Apollo Hospitals has emerged as Asia's foremost integrated healthcare services provider and
                            has a robust presence across the healthcare ecosystem, including Hospitals, Pharmacies,
                            Primary Care & Diagnostic Clinics and several retail health models. The Group also has
                            Telemedicine facilities across several countries. Health Insurance Services, Global Projects
                            Consultancy, Medical Colleges, Medvarsity for E-Learning, Colleges of Nursing and Hospital
                            Management and a Research Foundation. In addition, 'ASK Apollo' - an online consultation portal
                            and Apollo Home Health provide the care continuum.
                        </p>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fa-award icon heading-icon"></i>
                            <h4>Specialization</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn fa-rotate-180"></i>
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
                        </p>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fa-stethoscope heading-icon"></i>
                            <h4>Famous Treatments</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fa-user-md heading-icon"></i>
                            <h4>Famous Doctors</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fa-hospital icon heading-icon"></i>
                            <h4>Infrastructure</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fa-map-marker-alt heading-icon"></i>
                            <h4>Complete Address</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fas fa-h-square heading-icon"></i>
                            <h4>Hospital Packages</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fa-rupee-sign heading-icon"></i>
                            <h4>Hospital Charges</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fa-id-card heading-icon"></i>
                            <h4>Membership</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include ('partials/submitQuery.ejs') %>
        <%- include ('partials/header.ejs') %>
        <script src="../scripts/navigation.js"></script>
    </body>
</html>