<html>
    <head>
        <title>Tvastra/Apponiment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/themes.css">
        <link rel="stylesheet" href="../css/appoinment.css">     
        <link rel="stylesheet" href="../css/common.css">               
    </head>
    <body>
        <nav class="top-nav">
            <div class="nav-logo">
                <a href="./index.html">
                <img class="logo-tvastra" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" >
                </a>
            </div>
            <div class="desktop-nav desktop">          
                    <ul>                            
                        <li><a href="doctor.html">Doctors</a></li>
                        <li><a href="hospital.html">Hospitals</a></li>
                        <li><a href="treatments.html">Treatments</a></li>
                        <li>Other Services</li>
                        <li><a href="aboutUs.html">About</a></li>
                    </ul>
            </div>
            <div class="navButtons desktop">
                        <button class="third navButton1">
                            Login/Signup
                        </button>
                        <button class="primary navButton2">                        
                            Get a Quote
                        </button>
            </div>
            <i class="fas fa-bars mob-tab"></i>
        </nav>
        <section class="container">
            <h4>Book an Appoinment</h4>
            <div class="appoinmentContainer">
                <div class="dateSection subcont">
                    <h5>Select Appoinment Date*</h5>
                    <input type="text" placeholder="dd/mm/yyyy">
                </div>
                <div class="timeSection subcont">
                    <h5>Time Intervel*</h5>
                    <div class="radio">
                        <input type="radio"><label for="">Morning</label>                       
                    </div>
                    <div class="radio">
                        <input type="radio"><label for="">Afternoon</label>                       
                    </div>
                    <div class="radio">
                        <input type="radio"><label for="">Evening</label>                       
                    </div>
                </div>
                <div class="urgencySection subcont">
                    <h5>Appoinment Status/Urgency*</h5>
                    <div class="radio">
                        <input type="radio"><label for="">Routine check-up</label>                       
                    </div>
                    <div class="radio">
                        <input type="radio"><label for="">Non Urgent check-up</label>                       
                    </div>
                    <div class="radio">
                        <input type="radio"><label for="">Urgent check-up</label>                       
                    </div>
                    <div class="radio">
                        <input type="radio"><label for="">Surgical Appoinment</label>                       
                    </div>    
                </div>
                <div class="uploadSection subcont">
                    <h5>Upload Previous Health Record*</h5>  
                    <form action="/action_page.php">
                        <input type="file" id="myFile" name="filename">
                      </form>
                </div>
                <div class="detailsSection subcont">
                    <h5>Appoinment Details</h5>   
                    <input type="text"> 
                </div>
                <div class="buttonSection subcont">
                    <button class="primary">Book Appoinment</button>
                    <i class="fas fa-arrow-right"></i>    
                </div>
            </div>
            <div class="foot-rights">
                <p class="copyright">All Rights Reserved &copy; Tvastra 2020</p>
            </div>
        </section>
    </body>
</html>