<html>
    <head>
        <title>Tvastra/Doctor's Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/themes.css">
        <link rel="stylesheet" href="../css/doctor's-profile.css">    
        <link rel="stylesheet" href="../css/common.css">                
    </head>
    <body>
        <nav class="top-nav">
            <div class="nav-logo">
                <a href="./index.html">
                <img class="logo-tvastra" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" >
                </a>
            </div>
            <div class="desktop-nav desktop">          
                    <ul>                            
                        <li><a href="doctor.html">Doctors</a></li>
                        <li><a href="hospital.html">Hospitals</a></li>
                        <li><a href="treatments.html">Treatments</a></li>
                        <li>Other Services</li>
                        <li><a href="aboutUs.html">About</a></li>
                    </ul>
            </div>
            <div class="navButtons desktop">
                        <button class="third navButton1 loginDirect">
                            Login/Signup
                        </button>
                        <button class="primary navButton2">                        
                            Get a Quote
                        </button>
            </div>
            <i class="fas fa-bars mob-tab"></i>
        </nav>

        <section class="about">
            <h1>About John Nission</h1>
            <p>Home/Doctor profile</p>
        </section>

        <section class="mainContainer">
            <div class="subContainerDocProf">
                <div class="imgSection">
                    <figure class="docfigure">
                        <img class="docImg" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                    </figure>
                    <div class="bookingButton">
                        <button class="primary">Book an appointment</button>
                    </div>
                </div>
                <div class="aboutDoctorSection">
                    <div class="Summary">                    
                        <h2 class="name">John Nission</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, illo ratione asperiores voluptates a vel eos laboriosam, distinctio sed dolorem, saepe repellendus incidunt. Veritatis modi harum unde officiis, placeat blanditiis
                        </p>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fa-award icon heading-icon"></i>
                            <h4>Specialization</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn fa-rotate-180"></i>
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
                        </p>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fa-stethoscope heading-icon"></i>
                            <h4>List Of Treatments</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fa-hospital icon heading-icon"></i>
                            <h4>Work Experience</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fa-star heading-icon"></i>
                            <h4>Qualification</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fa-trophy heading-icon"></i>
                            <h4>Awards</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fa-map-marker-alt heading-icon"></i>
                            <h4>Location</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                    </div>
                    <div class="specialization">
                        <div class="specializationHeading">
                            <i class="fas fa-rupee-sign heading-icon"></i>
                            <h4>Avg Fees</h4>
                            <i class="fas fa-angle-down angle-icon accordion-btn"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="container container6">
            <div class="subcontainer">
                <h2 class="cont6-1">Need Help?</h2>
                <p class="cont6-2">Just let us know, we will be happy to assist you.</p>
                <div class="cont6-3 ">
                    <button class="secondary ">Submit your enquiry</button>
                </div>
            </div>
        </section>

        <section class="footer1">
            <figure class="foot-image">
                <a href="../views/index.html">
                <img class="footer-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="">
                </a>
            </figure> 
                <div class="foot-list">       
                    <ul>                       
                        <li><a href="doctor.html">Doctors</a></li>
                        <li><a href="hospital.html">Hospitals</a></li>
                        <li><a href="treatments.html">Treatment</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="FAQ.html">FAQs</a></li>
                    </ul>
                </div> 
                <div class="foot-list2 socialMedia">
                    <ul>                       
                        <li><i class="fab fa-facebook-f"></i></li>
                        <li> <i class="fab fa-pinterest-p"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-google-plus-g"></i></li>
                        <li> <i class="fab fa-instagram"></i></li>
                    </ul>
                </div>
                <div class="foot-rights">
                    <p>All Rights Reserved. © tvastra 2018</p>
                </div>
        </section>
        <script src="../scripts/navigation.js"></script>
    </body>
</html>