<html>
    <head>
        <title>Tvastra.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/themes.css">
        <link rel="stylesheet" href="../css/doctor.css">         
        <link rel="stylesheet" href="../css/common.css">           
    </head>
    <body>
        <%- include ('partials/header.ejs') %>

        <section class="tab-desktop">
            <div class="doctor-searchBox">
                <h3> Cardiac Surgeon in <a href="">Delhi</a></h3>
                <div class="color">
                </div>
            </div>
        </section>
        <section class="home">
            <h6 class="heading">Home/Doctor List</h6>
            <div class="head-button">
                <h5>Sort by</h5>
                <i class="fas fa-angle-down"></i> 
            </div>
        </section>
        <section class="searchBox">
            <div class="filterBox tab-desktop">
                <div class="filterHead">
                    <h5>Filter By</h5>
                </div>
                <div class="appliedFilters">
                    <div class="desktop selectedFilters">DLF Cyber City <span ><i class="fas fa-times"></i></span></div>
                    <div class="desktop selectedFilters">Multi Organ Transplant <span ><i class="fas fa-times"></i></span></div>
                    <div class="desktop selectedFilters">Apollo Hospital<span ><i class="fas fa-times"></i></span></div>
                    <div class="desktop selectedFilters">30+ <span ><i class="fas fa-times"></i></span></div>
                </div>
                <div class="filterCriteria">
                    <div class="criteriaHead">
                        <h3>Location</h3>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-minus"></i>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <i class="fas fa-check unchecked checked"></i>
                            <input type="checkbox" value="DLF Cyber City">
                        </div>
                        <div class="itemName">
                            <label for="">DLF Cyber City</label>
                        </div>
                    </div><div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Dwaraka">
                        </div>
                        <div class="itemName">
                            <label for="">Dwaraka</label>
                        </div>
                    </div><div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Lajpat Nagar">
                        </div>
                        <div class="itemName">
                            <label for="">Lajpat Nagar</label>
                        </div>
                    </div><div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Palam Vihar">
                        </div>
                        <div class="itemName">
                            <label for="">Palam Vihar</label>
                        </div>
                    </div><div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Punjabi Baag">
                        </div>
                        <div class="itemName">
                            <label for="">Punjabi Baag</label>
                        </div>
                    </div><div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Pusa Road">
                        </div>
                        <div class="itemName">
                            <label for="">Pusa Road</label>
                        </div>
                    </div>
                    <div class="showMoreButton">
                        <button class="show-more">+ Show more</button>
                    </div>
                </div>
                <div class="filterCriteria">
                    <div class="criteriaHead">
                        <h3>Treatment</h3>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-minus"></i>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Multi Organ Transplant">
                            <i class="fas fa-check unchecked checked"></i>
                        </div>
                        <div class="itemName">
                            <label for="">Multi Organ Transplant</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Ortho pedic surgery">
                        </div>
                        <div class="itemName">
                            <label for="">Ortho pedic surgery</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Infertility Treatment">
                        </div>
                        <div class="itemName">
                            <label for="">Infertility Treatment</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Dentistry">
                        </div>
                        <div class="itemName">
                            <label for="">Dentistry</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Cardiology">
                        </div>
                        <div class="itemName">
                            <label for="">Cardiology</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Cancer">
                        </div>
                        <div class="itemName">
                            <label for="">Cancer</label>
                        </div>
                    </div>
                    <div class="showMoreButton">
                        <button class="show-more">+ Show more</button>
                    </div>
                </div>
                <div class="filterCriteria">
                    <div class="criteriaHead">
                        <h3>Hospitals</h3>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-minus"></i>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <i class="fas fa-check unchecked checked"></i>
                            <i class="fas fa-check unchecked checked"></i>
                            <input type="checkbox" value="Apollo Hospital">
                        </div>
                        <div class="itemName">
                            <label for="">Apollo Hospital</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Manipal North Side Hospital">
                        </div>
                        <div class="itemName">
                            <label for="">Manipal North Side Hospital</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Northstar">
                        </div>
                        <div class="itemName">
                            <label for="">Northstar</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="AIIMS">
                        </div>
                        <div class="itemName">
                            <label for="">AIIMS</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Fortis Hospital">
                        </div>
                        <div class="itemName">
                            <label for="">Fortis Hospital</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Elbit Diagnostic">
                        </div>
                        <div class="itemName">
                            <label for="">Elbit Diagnostic</label>
                        </div>
                    </div>
                    <div class="showMoreButton">
                        <button class="show-more">+ Show more</button>
                    </div>
                </div>
                <div class="filterCriteria">
                    <div class="criteriaHead">
                        <h3>Year of Experience</h3>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-minus"></i>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="30+">
                            <i class="fas fa-check unchecked checked"></i>
                        </div>
                        <div class="itemName">
                            <label for="">30+</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="25+">
                        </div>
                        <div class="itemName">
                            <label for="">25+</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="20+">
                        </div>
                        <div class="itemName">
                            <label for="">20+</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="15+">
                        </div>
                        <div class="itemName">
                            <label for="">15+</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="10+">
                        </div>
                        <div class="itemName">
                            <label for="">10+</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="5+">
                        </div>
                        <div class="itemName">
                            <label for="">5+</label>
                        </div>
                    </div>
                    <div class="showMoreButton">
                        <button class="show-more">+ Show more</button>
                    </div>
                </div>
            </div>
            <div class="doctors-list">
                <div class="doctors-details">
                    <div class="docName doc-detail1">
                        <h4 class="mob">Deep Chandr verma</h4>
                        <h4 class="tab">Duke Sanson</h4>
                        <h4 class="desktop">Charlie Moon</h4>
                    </div>
                    <ul class="mob">
                        <li><i class="fas fa-certificate"></i>k</li>
                        <li><i class="fas fa-award"></i>k</li>
                        <li><i class="fas fa-clock"></i>k Years of Experience</li>
                        <li><i class="far fa-building"></i></li>
                        <li><i class="fas fa-map-marker-alt"></i>k</li>
                    </ul>
                    <div class=" doc-detail2">
                        <div class="tab doc-detailItem1">
                            <i class="fas fa-certificate"></i>
                            <p>Duke Sanson</p>
                        </div>
                        <div class="tab doc-detailItem2">
                            <i class="fas fa-award"></i>
                            <p>Neuro Surgeon</p>
                        </div>
                        <div class="tab doc-detailItem3">
                            <i class="fas fa-clock"></i>
                            <p>Chain Department of Neurological Surgery</p>
                        </div>
                        <div class="tab doc-detailItem4">
                            <i class="fas fa-building"></i>
                            <p>doctor 1</p>
                        </div>
                        <div class="tab doc-detailItem5">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Australia</p>
                        </div> 
                    </div>
                    <div class=" doc-detail2">
                        <div class="desktop doc-detailItem1">
                            <i class="far fa-star"></i>
                            <p>Cardiac surgeon</p>
                        </div>
                        <div class="desktop doc-detailItem3">
                            <i class="fas fa-award"></i>
                            <p>MBBS, MD, FRCP, MRCP, Fellowship</p>
                        </div>
                        <div class="desktop doc-detailItem5">
                            <i class="fas fa-clock"></i>
                            <p>8 Years of Experience</p>
                        </div>
                        <div class="desktop doc-detailItem2">
                            <i class="fas fa-building"></i>
                            <p>Apollo Hospitals Delhi</p>
                        </div>
                        <div class="desktop doc-detailItem4">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>New Delhi</p>
                        </div> 
                    </div>
                    <div class="appoinment-button doc-detail3">
                        <button class="primary">Book an appoinment</button>
                    </div>
                    <figure class="doctor-photo doc-detail4">
                        <img class="imgOfDoc" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="">
                    </figure>
                </div>
                <div class="doctors-details">
                    <div class="docName doc-detail1">
                        <h4 class="mob">shubham shinde</h4>
                        <h4 class="tab">Georgea Peter</h4>
                        <h4 class="desktop">Coni Star</h4>
                    </div>
                    <ul class="mob">
                        <li><i class="fas fa-certificate"></i>code</code></li>
                        <li><i class="fas fa-award"></i>b.tech</li>
                        <li><i class="fas fa-clock"></i>3 Years of Experience</li>
                        <li><i class="far fa-building"></i></li>
                        <li><i class="fas fa-map-marker-alt"></i>varanasi</li>
                    </ul>
                    <div class=" doc-detail2">
                        <div class="tab doc-detailItem1">
                            <i class="fas fa-certificate"></i>
                            <p>Georgea Peter</p>
                        </div>
                        <div class="tab doc-detailItem2">
                            <i class="fas fa-award"></i>
                            <p>Breast Cancer Surgeon</p>
                        </div>
                        <div class="tab doc-detailItem3">
                            <i class="fas fa-clock"></i>
                            <p>Director. Ut. Southwest.</p>
                        </div>
                        <div class="tab doc-detailItem4">
                            <i class="fas fa-building"></i>
                            <p>doctor 2</p>
                        </div>
                        <div class="tab doc-detailItem5">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>London</p>
                        </div> 
                    </div>
                    <div class=" doc-detail2">
                        <div class="desktop doc-detailItem1">
                            <i class="far fa-star"></i>
                            <p>Cardiac Surgeon</p>
                        </div>
                        <div class="desktop doc-detailItem3">
                            <i class="fas fa-award"></i>
                            <p>MBBS, MD, FRCP, MRCP, Fellowship</p>
                        </div>
                        <div class="desktop doc-detailItem5">
                            <i class="fas fa-clock"></i>
                            <p>8 Years of Experience</p>
                        </div>
                        <div class="desktop doc-detailItem2">
                            <i class="fas fa-building"></i>
                            <p>Apollo Hospitals Delhi</p>
                        </div>
                        <div class="desktop doc-detailItem4">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>New Delhi</p>
                        </div> 
                    </div>
                    <div class="appoinment-button doc-detail3">
                        <button class="primary">Book an appoinment</button>
                    </div>
                    <figure class="doctor-photo doc-detail4 mob">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                    </figure>
                    <figure class="doctor-photo doc-detail4 tab">
                        <img class="imgOfDoc" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="">
                    </figure>
                    <figure class="doctor-photo doc-detail4 desktop">
                        <img class="imgOfDoc" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                    </figure>
                </div>
                <div class="doctors-details">
                    <div class="docName doc-detail1">
                        <h4 class="mob"> prakhar</h4>
                        <h4 class="tab">Charlie Moon</h4>
                        <h4 class="desktop">Kisten Misel</h4>
                    </div>
                    <ul class="mob">
                        <li><i class="fas fa-certificate"></i>MBA, MBBS, FukDegree</li>
                        <li><i class="fas fa-award"></i>MBA, MBBS, FukDegree</li>
                        <li><i class="fas fa-clock"></i>8 Years of Experience</li>
                        <li><i class="far fa-building"></i></li>
                        <li><i class="fas fa-map-marker-alt"></i>Greater Noida</li>
                    </ul>
                    <div class=" doc-detail2">
                        <div class="tab doc-detailItem1">
                            <i class="fas fa-certificate"></i>
                            <p> Charlie Moon</p>
                        </div>
                        <div class="tab doc-detailItem2">
                            <i class="fas fa-award"></i>
                            <p>Cardiac Surgeon</p>
                        </div>
                        <div class="tab doc-detailItem3">
                            <i class="fas fa-clock"></i>
                            <p>MBBS, MD, FRCP, MRCP, Fellowship</p>
                        </div>
                        <div class="tab doc-detailItem4">
                            <i class="fas fa-building"></i>
                            <p>doctor 3</p>
                        </div>
                        <div class="tab doc-detailItem5">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>New Delhi, India</p>
                        </div> 
                    </div>
                    <div class=" doc-detail2">
                        <div class="desktop doc-detailItem1">
                            <i class="far fa-star"></i>
                            <p>Cardiac surgeon</p>
                        </div>
                        <div class="desktop doc-detailItem3">
                            <i class="fas fa-award"></i>
                            <p>MBBS, MD, FRCP, MRCP, Fellowship</p>
                        </div>
                        <div class="desktop doc-detailItem5">
                            <i class="fas fa-clock"></i>
                            <p>8 Years of Experience</p>
                        </div>
                        <div class="desktop doc-detailItem2">
                            <i class="fas fa-building"></i>
                            <p>Apollo Hospitals Delhi</p>
                        </div>
                        <div class="desktop doc-detailItem4">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>New Delhi</p>
                        </div> 
                    </div>
                    <div class="appoinment-button doc-detail3">
                        <button class="primary">Book an appoinment</button>
                    </div>
                    <figure class="doctor-photo doc-detail4 mob">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                    </figure>
                    <figure class="doctor-photo doc-detail4 tab">
                        <img class="imgOfDoc" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                    </figure>
                    <figure class="doctor-photo doc-detail4 desktop">
                        <img class="imgOfDoc" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="">
                    </figure>
                </div>
                <div class="doctors-details">
                    <div class="docName doc-detail1">
                        <h4 class="mob"> Shubham Shinde</h4>
                        <h4 class="tab">Rose Moon</h4>
                        <h4 class="desktop">John Nission</h4>
                    </div>
                    <ul class="mob">
                        <li><i class="fas fa-certificate"></i>fgdfg fgdfg</li>
                        <li><i class="fas fa-award"></i>fgd fdgd dfdgfd</li>
                        <li><i class="fas fa-clock"></i>5 Years of Experience</li>
                        <li><i class="far fa-building"></i></li>
                        <li><i class="fas fa-map-marker-alt"></i>delhi</li>
                    </ul>
                    <div class=" doc-detail2">
                        <div class="tab doc-detailItem1">
                            <i class="fas fa-certificate"></i>
                            <p> Rose Moon</p>
                        </div>
                        <div class="tab doc-detailItem2">
                            <i class="fas fa-award"></i>
                            <p>Plastic Surgeon</p>
                        </div>
                        <div class="tab doc-detailItem3">
                            <i class="fas fa-clock"></i>
                            <p>Department of Plastic and Reconstructive Surgery</p>
                        </div>
                        <div class="tab doc-detailItem4">
                            <i class="fas fa-building"></i>
                            <p>doctor 4</p>
                        </div>
                        <div class="tab doc-detailItem5">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Dubai</p>
                        </div> 
                    </div>
                    <div class=" doc-detail2">
                        <div class="desktop doc-detailItem1">
                            <i class="far fa-star"></i>
                            <p>Cardiac surgeon</p>
                        </div>
                        <div class="desktop doc-detailItem3">
                            <i class="fas fa-award"></i>
                            <p>MBBS, MD, FRCP, MRCP, Fellowship</p>
                        </div>
                        <div class="desktop doc-detailItem5">
                            <i class="fas fa-clock"></i>
                            <p>8 Years of Experience</p>
                        </div>
                        <div class="desktop doc-detailItem2">
                            <i class="fas fa-building"></i>
                            <p>Apollo Hospitals Delhi</p>
                        </div>
                        <div class="desktop doc-detailItem4">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>New Delhi</p>
                        </div> 
                    </div>
                    <div class="appoinment-button doc-detail3">
                        <button class="primary">Book an appoinment</button>
                    </div>
                    <figure class="doctor-photo doc-detail4 mob">
                        <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="">
                    </figure>
                    <figure class="doctor-photo doc-detail4 tab">
                        <img class="imgOfDoc" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                    </figure>
                    <figure class="doctor-photo doc-detail4 desktop">
                        <img class="imgOfDoc" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                    </figure>
                </div>
                <div class="doctors-details">
                    <div class="docName doc-detail1">
                        <h4 class="mob"> Shubham Shinde</h4>
                        <h4 class="tab">Rose Moon</h4>
                        <h4 class="desktop">Charlie Moon</h4>
                    </div>
                    <ul class="mob">
                        <li><i class="fas fa-certificate"></i>3544 5345</li>
                        <li><i class="fas fa-award"></i>fd fj67h</li>
                        <li><i class="fas fa-clock"></i>4 Years of Experience</li>
                        <li><i class="far fa-building"></i>nothing </li>
                        <li><i class="fas fa-map-marker-alt"></i>varanasi</li>
                    </ul>
                    <div class=" doc-detail2">
                        <div class="tab doc-detailItem1">
                            <i class="fas fa-certificate"></i>
                            <p> Rose Moon</p>
                        </div>
                        <div class="tab doc-detailItem2">
                            <i class="fas fa-award"></i>
                            <p>Plastic Surgeon</p>
                        </div>
                        <div class="tab doc-detailItem3">
                            <i class="fas fa-clock"></i>
                            <p>Department of Plastic and Reconstructive Surgery</p>
                        </div>
                        <div class="tab doc-detailItem4">
                            <i class="fas fa-building"></i>
                            <p>doctor 5</p>
                        </div>
                        <div class="tab doc-detailItem5">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Dubai</p>
                        </div> 
                    </div>
                    <div class=" doc-detail2">
                        <div class="desktop doc-detailItem1">
                            <i class="far fa-star"></i>
                            <p>Cardiac surgeon</p>
                        </div>
                        <div class="desktop doc-detailItem3">
                            <i class="fas fa-award"></i>
                            <p>MBBS, MD, FRCP, MRCP, Fellowship</p>
                        </div>
                        <div class="desktop doc-detailItem5">
                            <i class="fas fa-clock"></i>
                            <p>8 Years of Experience</p>
                        </div>
                        <div class="desktop doc-detailItem2">
                            <i class="fas fa-building"></i>
                            <p>Apollo Hospitals Delhi</p>
                        </div>
                        <div class="desktop doc-detailItem4">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>New Delhi</p>
                        </div> 
                    </div>
                    <div class="appoinment-button doc-detail3">
                        <button class="primary">Book an appoinment</button>
                    </div>
                    <figure class="doctor-photo doc-detail4 mob">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="">
                    </figure>
                    <figure class="doctor-photo doc-detail4 tab">
                        <img class="imgOfDoc" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="">
                    </figure>
                    <figure class="doctor-photo doc-detail4 desktop">
                        <img class="imgOfDoc" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="">
                    </figure>
                </div>
                <div class="mob">
                    <div class="doctors-details mob">
                        <div class="docName doc-detail1" >
                            <h4>  NEERAJ JOSHI</h4>
                        </div>
                        <ul class="mob">
                            <li><i class="fas fa-certificate"></i> Dentist</li>
                            <li><i class="fas fa-award"></i>MD</li>
                            <li><i class="fas fa-clock"></i>20 Years of Experience</li>
                            <li><i class="far fa-building"></i>AIMS </li>
                            <li><i class="fas fa-map-marker-alt"></i>New Delhi</li>
                        </ul>
                        <div class=" mob appoinment-button doc-detail3">
                            <button class="primary">Book an appoinment</button>
                        </div>
                        <figure class="doctor-photo doc-detail4 mob">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="">
                        </figure>
                    </div>
                </div>
                <div class="desktop">
                    <div class="doctors-details">
                        <div class="docName doc-detail1 " >
                            <h4>  Coni Star</h4>
                        </div><div class=" doc-detail2">
                            <div class="desktop doc-detailItem1">
                                <i class="far fa-star"></i>
                                <p>Cardiac surgeon</p>
                            </div>
                            <div class="desktop doc-detailItem3">
                                <i class="fas fa-award"></i>
                                <p>MBBS, MD, FRCP, MRCP, Fellowship</p>
                            </div>
                            <div class="desktop doc-detailItem5">
                                <i class="fas fa-clock"></i>
                                <p>8 Years of Experience</p>
                            </div>
                            <div class="desktop doc-detailItem2">
                                <i class="fas fa-building"></i>
                                <p>Apollo Hospitals Delhi</p>
                            </div>
                            <div class="desktop doc-detailItem4">
                                <i class="fas fa-map-marker-alt"></i>
                                <p>New Delhi</p>
                            </div> 
                        </div>
                        <div class="appoinment-button doc-detail3">
                            <button class="primary">Book an appoinment</button>
                        </div>
                        <figure class="doctor-photo doc-detail4 desktop">
                            <img class="imgOfDoc" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                        </figure>
                    </div>
                        <div class=" mob appoinment-button doc-detail3">
                            <button class="primary">Book an appoinment</button>
                        </div>
                        <figure class="doctor-photo doc-detail4 mob">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        
        <%- include ('partials/submitQuery.ejs') %>
        <%- include ('partials/footer.ejs') %>
        </div>
        <script src="../scripts/navigation.js"></script>
    </body>
</html>
