<html>
    <head>
        <title>Tvastra.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/themes.css">
        <link rel="stylesheet" href="../css/hospital.css">  
        <link rel="stylesheet" href="../css/common.css">             
    </head>
    <body>
        <%- include ('partials/header.ejs') %>

        <section class="desktop">
            <div class="hospital-searchBox">
                <h3> Hospitals in <a href="">Delhi</a></h3>
                <div class="color">
                </div>
            </div>
        </section>
        <section class="home">
            <h6 class="heading">Home/Hospital List</h6>
            <div class="head-button">
                <button class="doctor-button">Sort by <i class="fas fa-angle-down"></i> </button>
            </div>
        </section>
        <section class="hospitalSection">
            <div class="filterBox desktop">
                <div class="filterHead">
                    <h5>Filter By</h5>
                </div>
                <div class="filterCriteria">
                    <div class="criteriaHead">
                        <h3>Location</h3>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-minus"></i>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <i class="fas fa-check unchecked checked"></i>
                            <input type="checkbox" value="DLF Cyber City">
                        </div>
                        <div class="itemName">
                            <label for="">DLF Cyber City</label>
                        </div>
                    </div><div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Dwaraka">
                        </div>
                        <div class="itemName">
                            <label for="">Dwaraka</label>
                        </div>
                    </div><div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Lajpat Nagar">
                        </div>
                        <div class="itemName">
                            <label for="">Lajpat Nagar</label>
                        </div>
                    </div><div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Palam Vihar">
                        </div>
                        <div class="itemName">
                            <label for="">Palam Vihar</label>
                        </div>
                    </div><div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Punjabi Baag">
                        </div>
                        <div class="itemName">
                            <label for="">Punjabi Baag</label>
                        </div>
                    </div><div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Pusa Road">
                        </div>
                        <div class="itemName">
                            <label for="">Pusa Road</label>
                        </div>
                    </div>
                    <div class="showMoreButton">
                        <button class="show-more">+ Show more</button>
                    </div>
                </div>
                <div class="filterCriteria">
                    <div class="criteriaHead">
                        <h3>Department</h3>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-minus"></i>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <i class="fas fa-check unchecked checked"></i>
                            <i class="fas fa-check unchecked checked"></i>
                            <input type="checkbox" value="Department 1">
                        </div>
                        <div class="itemName">
                            <label for="">Department 1</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Department one">
                        </div>
                        <div class="itemName">
                            <label for="">Department one</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Department onx">
                        </div>
                        <div class="itemName">
                            <label for="">Department onx</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Department opo">
                        </div>
                        <div class="itemName">
                            <label for="">Department opo</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Department ON">
                        </div>
                        <div class="itemName">
                            <label for="">Department ON</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Department Five">
                        </div>
                        <div class="itemName">
                            <label for="">Department Five</label>
                        </div>
                    </div>
                    <div class="showMoreButton">
                        <button class="show-more">+ Show more</button>
                    </div>
                </div>
                <div class="filterCriteria">
                    <div class="criteriaHead">
                        <h3>Treatment</h3>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-minus"></i>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Multi Organ Transplant">
                            <i class="fas fa-check unchecked checked"></i>
                        </div>
                        <div class="itemName">
                            <label for="">Multi Organ Transplant</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Ortho pedic surgery">
                        </div>
                        <div class="itemName">
                            <label for="">Ortho pedic surgery</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Infertility Treatment">
                        </div>
                        <div class="itemName">
                            <label for="">Infertility Treatment</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Dentistry">
                        </div>
                        <div class="itemName">
                            <label for="">Dentistry</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Cardiology">
                        </div>
                        <div class="itemName">
                            <label for="">Cardiology</label>
                        </div>
                    </div>
                    <div class="filterDetails">
                        <div class="filterItems">
                            <input type="checkbox" value="Cancer">
                        </div>
                        <div class="itemName">
                            <label for="">Cancer</label>
                        </div>
                    </div>
                    <div class="showMoreButton">
                        <button class="show-more">+ Show more</button>
                    </div>
                </div>
            </div>
            <div class="hospitalBox">
                <div class="hospitalList">
                    <div class="hospitalDetailSection">
                        <div class="name">
                            <h4>Apollo Hospital</h4>
                        </div>
                        <div class="hospitalSummary">
                            <div class="hospitalDetails">
                                <p>Delhi Mathura Road, Sarita Vihar, Delhi 110076</p>
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="hospitalDetails">
                                <p class="mob-tab">100 beds</p>
                                <p class="desktop">133 beds</p>
                                <i class="fas fa-bed"></i>
                            </div>
                            <div class="hospitalDetails">
                                <p>Famous Treatments</p>
                                <i class="fas fa-stethoscope"></i>
                            </div>
                        </div>
                        <div class="appliedFilters">
                            <div class="selectedFilters">Multi Organ Transplant</div>
                            <div class="selectedFilters">Orthopedic Surgery</div>
                            <div class="selectedFilters">Infertility Treatment</div>
                            <div class="selectedFilters">Dentistry</div>
                            <div class="selectedFilters">Cardiology</div>
                            <div class="selectedFilters">Cancer</div>
                            <div class="selectedFilters selectedFilters2">40+</div>
                        </div>
                        <div class="callButton">
                            <button class="primary"> Call Now</button>
                        </div>
                    </div>
                    <figure class="hospitalFigure">
                        <img class="hospitalImage" src="https://www.healthcareradius.in/public/styles/full_img/public/images/2020/07/14/indrapastha-apollo-hospital.jpg?itok=SSvDC-fd" alt="">
                    </figure>
                </div>
                    <div class="hospitalList">
                        <div class="hospitalDetailSection">
                            <div class="name">
                                <h4>Fortis Hospital</h4>
                            </div>
                            <div class="hospitalSummary">
                                <div class="hospitalDetails">
                                    <p>Delhi Mathura Road, Sarita Vihar, Delhi 110076</p>
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="hospitalDetails">
                                    <p class="mob-tab">100 beds</p>
                                    <p class="desktop">133 beds</p>
                                    <i class="fas fa-bed"></i>
                                </div>
                                <div class="hospitalDetails">
                                    <p>Famous Treatments</p>
                                    <i class="fas fa-stethoscope"></i>
                                </div>
                            </div>
                            <div class="appliedFilters">
                                <div class="selectedFilters">Multi Organ Transplant</div>
                                <div class="selectedFilters">Orthopedic Surgery</div>
                                <div class="selectedFilters">Infertility Treatment</div>
                                <div class="selectedFilters">Dentistry</div>
                                <div class="selectedFilters">Cardiology</div>
                                <div class="selectedFilters">Cancer</div>
                                <div class="selectedFilters selectedFilters2">40+</div>
                            </div>
                            <div class="callButton">
                                <button class="primary"> Call Now</button>
                            </div>
                        </div>
                        <figure class="hospitalFigure">
                            <img class="hospitalImage" src="https://d3frl090092vlr.cloudfront.net/Fortis-Hospital-la-shalimar-bagh.jpg" alt="">
                        </figure>
                    </div>
                    <div class="hospitalList">
                        <div class="hospitalDetailSection">
                            <div class="name">
                                <h4>Rockland Hospital h</h4>
                            </div>
                            <div class="hospitalSummary">
                                <div class="hospitalDetails">
                                    <p>Delhi Mathura Road, Sarita Vihar, Delhi 110076</p>
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="hospitalDetails">
                                    <p class="mob-tab">100 beds</p>
                                    <p class="desktop">133 beds</p>
                                    <i class="fas fa-bed"></i>
                                </div>
                                <div class="hospitalDetails">
                                    <p>Famous Treatments</p>
                                    <i class="fas fa-stethoscope"></i>
                                </div>
                            </div>
                            <div class="appliedFilters">
                                <div class="selectedFilters">Multi Organ Transplant</div>
                                <div class="selectedFilters">Orthopedic Surgery</div>
                                <div class="selectedFilters">Infertility Treatment</div>
                                <div class="selectedFilters">Dentistry</div>
                                <div class="selectedFilters">Cardiology</div>
                                <div class="selectedFilters">Cancer</div>
                                <div class="selectedFilters selectedFilters2">40+</div>
                            </div>
                            <div class="callButton">
                                <button class="primary"> Call Now</button>
                            </div>
                        </div>
                        <figure class="hospitalFigure">
                            <img class="hospitalImage" src="https://hindi.gyaanghantaa.com/wp-content/uploads/sites/2/2018/07/rockland-hospital-delhi-1469694553-5799c259346c8.jpg" alt="">
                        </figure>
                    </div>
                    <div class="hospitalList">
                            <div class="hospitalDetailSection">
                                <div class="name">
                                    <h4>Primus Super Speciality Hospital</h4>
                                </div>
                                <div class="hospitalSummary">
                                    <div class="hospitalDetails">
                                        <p>Delhi Mathura Road, Sarita Vihar, Delhi 110076</p>
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="hospitalDetails">
                                        <p class="mob-tab">100 beds</p>
                                        <p class="desktop">133 beds</p>
                                        <i class="fas fa-bed"></i>
                                    </div>
                                    <div class="hospitalDetails">
                                        <p>Famous Treatments</p>
                                        <i class="fas fa-stethoscope"></i>
                                    </div>
                                </div>
                                <div class="appliedFilters">
                                    <div class="selectedFilters">Multi Organ Transplant</div>
                                    <div class="selectedFilters">Orthopedic Surgery</div>
                                    <div class="selectedFilters">Infertility Treatment</div>
                                    <div class="selectedFilters">Dentistry</div>
                                    <div class="selectedFilters">Cardiology</div>
                                    <div class="selectedFilters">Cancer</div>
                                    <div class="selectedFilters selectedFilters2">40+</div>
                                </div>
                                <div class="callButton">
                                    <button class="primary"> Call Now</button>
                                </div>
                            </div>
                            <figure class="hospitalFigure">
                                <img class="hospitalImage" src="https://www.tourmyindia.com/medical-tourism/uploads/hospital/images/0a1d38ba54c0506bbd7d6b9ccc4ae392.jpg" alt="">
                            </figure>
                        </div>
                </div>
            </div>
        </div>
        </section>
        
        <%- include ('partials/submitQuery.ejs') %>
        <%- include ('partials/footer.ejs') %>

        </div>
        <script src="../scripts/navigation.js"></script>
    </body>
</html>
