<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tvastra Home</title>
    <script src="https://kit.fontawesome.com/6837ef4015.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/themes.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.CSS">  
</head>
<body>   
        <section>
            <nav class="first-nav">
                <img class="logo-tvastra" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo">
                <i class="fas fa-bars"></i>
            </nav>
        </section> 
        <section class="container1">
            <div class="heading1">
                <h1>Find Affordable Healthcare</h1>
            </div>
            
            <div class="description1">
                <p >
                    Join the thousands of others who have exercised their right to quality healthcare at a price you can
                    afford
                </p>
            </div>

            <div class="search1">
                <span <i class="fas fa-crosshairs"></span>
                <span <i class="fa fa-map-marker"></span>
                <input class="input" type="text" name="location"  placeholder="Ahemdabad" />
                <input  class="input" type="text" name="specification" id="specification" placeholder="Search for doctors, hospitals and treatments.">
            </div> 

            <section class="search-button1">
                <button class="primary">Search</button>
            </section>
        </section> 

        <section class="container2">
            <div class="heading2">
                <h1>How it works</h1>
            </div>
            
            <div class="description2">
                <p >
                    Various Facilities are provided here. But there is a protocol which need to be followed so that your get the service at its best.
                </p>
            </div>

            <div class="FixConsultation">  
                <span <i class="num">01</span>
                <span <i class="tex">Fix Consultation</span>
                <input class="input" type="text" name="location" />
            </div>         
            
            <div class="img2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png">
            </div>

            <div class="heading2_1" >
                <h3>Fix Consultation</h3>
            </div>

            <div class="description2_1" >
                <p >
                This depicts that user will have to fix appoinment first when it selects a particular doctor
                </p>
            </div>

            <div class="stages">
                <input type="text" name="location"  placeholder="02 Upload Medical Reports" />
                <input type="text" name="location"  placeholder="03 Consult with doctor" />
                <input type="text" name="location"  placeholder="04 Fix Surgery" />
                <input type="text" name="location"  placeholder="05 Hospital sent estimates" />
                <input type="text" name="location"  placeholder="06 Payment" />
                <input type="text" name="location"  placeholder="07 Surgery completed" />
            </div>
        </section> 

        <section class="container3">
            <div class="heading3">
                <h2>World Class Expert Doctors!</h2>
            </div>
            
            <div class="description3">
                <p >
                    The university of Texas Southeastern Medical centre has been a long world renowned research hospital. But until the `80s, you couldn't go there. Now, with the addition od Aston center and Zale Lipshy hospital, UT Southeastern is also a meccah of patients.
                </p>
            </div>
            <div class="doc-profiles"> 
                <div class="photo">
                    <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg">
                    <div class="doc-details">
                        <h4 class="add color-blue">Duke Sanson</h4>  
                    </div> 
                    <div class="details-doc">                                  
                        <ul >Neuro Surgeon</ul>
                        <ul >Chain Department of Nuerological Surgery</ul>
                        <ul >Australia</ul>    
                    </div>                                   
                </div>
                <div class="photo">
                    <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg">
                    <div class="doc-details">
                        <h4 class="add color-blue">Georgia Peter</h4>
                    </div>
                    <div class="details-doc">                    
                        <ul >Breast Cancer Surgeon</ul>
                        <ul >Director . UT . Southwest</ul>
                        <ul >London</ul>
                    </div>                          
                </div>
                <div class="photo">
                    <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg">
                    <div class="doc-details">
                        <h4 class="add color-blue">Charlie Moon</h4>
                    </div>
                    <div class="details-doc">                    
                        <ul >Cardiac Surgeon</ul>
                        <ul >MBBS, MD,FRCP, MRCP</ul>
                        <ul >New Delhi</ulli>
                    </div>                            
                </div>
                <div class="photo">
                    <img class="doc-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg">
                    <div class="doc-details">
                        <h4 class="add color-blue">Rose moon</h4>
                    </div>
                    <div class="details-doc">                    
                        <ul >Plastic Surgeon</ul>
                        <ul >Department of Plastic and Reconstructive Surgery</ul>
                        <ul >Dubai</ul>
                    </div>                          
                </div>
            </div> 
        </section>
        <section class="container4">
            <div class="heading4">
                <h2>Featered Medical Treatment</h2>         
            </div>
            <div class="description4">
                <p>Join the thousands of others who have excercised their right to quality healthcare at a proice you can afford</p>         
            </div>

            <div class="treatments">
                <div class="treatments-det">
                    <img class="treatment-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg"
                        alt="">
                    <div class="department-details">                    
                            <h5 class="treatment-name">Dentistry</h5>
                            <p>50+ Specialists</p>
                    </div>
                </div> 
                <div class="treatments-det">
                    <img class="treatment-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg"
                        alt="">
                    <div class="department-details">                    
                        <h5 class="treatment-name">Cancer</h5>
                        <p>50+ Specialists</p>
                    </div>
                </div> 
                <div class="treatments-det">
                    <img class="treatment-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg"
                        alt="">
                    <div class="department-details">                    
                        <h5 class="treatment-name">Cardiologic Treatment</h5>
                        <p>50+ Specialists</p>
                    </div>
                </div>
                <div class="treatments-det">
                    <img class="treatment-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg"
                        alt="">
                    <div class="department-details">                    
                        <h5 class="treatment-name">Multi Organ Transplant</h5>
                        <p>50+ Specialists</p>
                    </div>
                </div>
                <div class="treatments-det">
                    <img class="treatment-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg"
                        alt="">
                    <div class="department-details">                    
                        <h5 class="treatment-name">Orthopedic Surgery</h5>
                        <p>50+ Specialists</p>
                    </div>
                </div>
                <div class="treatments-det">
                    <img class="treatment-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg"
                        alt="">
                    <div class="department-details">                    
                        <h5 class="treatment-name">Infertility Treatment</h5>
                        <p>50+ Specialists</p>
                    </div>
                </div>
            </div> 
        </section>
        <section class="container5">
            <div class="heading5">
                <h1>Exclusive Services</h1>
            </div>
            
            <div class="description5">
                <p >
                    We want you to be comfortable and thus apart from treating your illness, we provide with other services that you can see
                </p>
            </div>

            <div class="Services">
                <div class="service-icons">
                    <img class="icon-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png">
                    <span class="on-icon">Travel</span>
                </div>
                <div class="service-icons">
                    <img class="icon-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png"> 
                    <span class="on-icon">FOOD</span>
                </div>
                <div class="service-icons">
                    <img class="icon-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png">
                    <span class="on-icon">Accomodation</span>
                </div>
                <div class="service-icons">
                    <img class="icon-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-04.png">
                    <span class="on-icon">LABS</span>
                </div>
                <div class="service-icons">
                    <img class="icon-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-05.png">
                    <span class="on-icon">REPORTS</span>
                </div>
                <div class="service-icons">
                    <img class="icon-img"src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png">
                    <span class="on-icon">AMBULANCE</span>
                </div>
            </div>
        </section>      
        <section class="container6">
            <div class="heading6">
                <h5>Need Help?</h5>         
            </div>
            <div class="description6">
                <p>Just let us know, we will be happy to assist you</p>         
            </div>
            <div class="enquiry-button">
                <button class="secondary">Submit your enquiry</button>      
            </div>
        </section>
        <section class="container7">
            <div class="transperent-logo">
                <img src="../images/Transperent-logo.png">      
            </div>              
            <div class="services-quick">
                <p class="quick-services">Doctor</p>
                <p class="quick-services">Hospital</p>
                <p class="quick-services">Treatment</p>
                <p class="quick-services">Other Services</p>
                <p class="quick-services">FAQs</p>
            </div>
            <div class="social-media">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>          
            </div> 
            <div class="copy-right">
                <p class="copy-right" >All rights reserved. © tvastra 2018</p>      
            </div>            
        </section> 
</body>
</html>