<html>
    <head>
        <title>Tvastra.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/themes.css">
        <link rel="stylesheet" href="../css/login.css">               
        <link rel="stylesheet" href="../css/common.css">     
    </head>
    <body>
        <%- include ('partials/header.ejs') %>

        <section class="container">
            <% if (user) { %>
                <div class="failure" id="failure" >
                    <i class="fas fa-times-circle"></i> 
                    <div class="failure-message">
                       <h5>Failure</h5> 
                       <h6>Incorrect Email or password</h6>                                                                                                                                                                
                    </div>  
                    <i class="fas fa-times"></i>                                                                                                                                                                                                                                                                                                                                   
                </div>
                <% }  %>
            <div class="loginBox">
                <div class="loginBoxhead">
                    <h4>Email Login</h4>
                </div>
                <form action="/login" method="post">
                    <div class="inputContainer">
                        <div class="emailInput">
                            <input type="email" name="email" placeholder="Enter Email Address">
                            <i class="fas fa-question-circle"></i>
                        </div>
                        <div class="emailInput">
                            <input type="password" name="password" placeholder="Enter password">
                            <i class="far fa-eye-slash password-eye eye"></i>
                        </div>
                        <div class="otpandForgotpswd">
                            <a href="phoneLogin">Login With OTP</a>
                            <a href="forgotPassword">Forgot Password ?</a>
                        </div>
                        <div class="loginButton">
                            <button class="primary" type="submit">LOGIN</button>
                            <i class="fas fa-arrow-right"></i>      
                        </div>
                </form>
                </div>
                <div class="redirect">
                    <p >Not Registered?<a href="signup">&nbsp;Sign Up</a> </p>
                </div>
            </div>
            <div class="foot-rights">
                <p class="copyright">All Rights Reserved &copy; Tvastra 2020</p>
            </div>
        </section>
        <script src="../scripts/navigation.js"></script>
    </body>
</html>