<html>
    <head>
        <title>Tvastra/Treatments</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/themes.css">
        <link rel="stylesheet" href="../css/treatments.css">   
        <link rel="stylesheet" href="../css/common.css">                 
    </head>
    <body>
        <nav class="top-nav">
            <div class="nav-logo">
                <a href="./index.html">
                <img class="logo-tvastra" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" >
                </a>
            </div>
            <div class="desktop-nav desktop">          
                    <ul>                            
                        <li><a href="doctor.html">Doctors</a></li>
                        <li><a href="hospital.html">Hospitals</a></li>
                        <li><a href="treatments.html">Treatments</a></li>
                        <li>Other Services</li>
                        <li><a href="aboutUs.html">About</a></li>
                    </ul>
            </div>
            <div class="navButtons desktop">
                        <button class="third navButton1">
                            Login/Signup
                        </button>
                        <button class="primary navButton2">                        
                            Get a Quote
                        </button>
            </div>
            <i class="fas fa-bars mob-tab"></i>
        </nav>

        <section class="dentistrytHead">
            <h1>Dentistry</h1>
            <p>Home/Dentistry</p>
        </section>

        <section class="vaccinationSection">
            <section class="vaccinationSubSection">
                <div class="aboutDentist">
                    <h3>Vaccination</h3>
                    <div class="aboutGrid">
                        <figure class="dentistFigure">
                            <img class="dentistImage" src="https://workspace.konfinity.com/swapnil/tvastra-wiki/-/wikis/uploads/8b1ab2d681b5855450f0991d11df02b9/dentist.jpg" alt="">
                        </figure>
                        <div class="aboutDentistry">
                            <h4>About dentistry Department</h4>
                            <p>
                                The vaccination of dentists against various vaccine-preventable infections is the most important measure of primary prevention against such diseases which would otherwse prove fatal for both the dentists and their patients.
                            </p>
                            <ul>
                                <li>CF-related diabetes (monthly)</li>
                                <li>Gastrointestinal (monthly)</li>
                                <li>CF-related liver disease (monthly)</li>
                                <li>Sweat testing (three times per month)</li>
                            </ul>
                        </div>
                    </div>
                </div>    
                <div class="visitation">
                    <div class="visitationDetails">
                        <i class="fas fa-stethoscope"></i>
                        <h5>Central Nervous System</h5>
                        <p>
                            Open visitation with only two visitors in a room at any time. No one under 12 years of age may.
                        </p>
                    </div>
                    <div class="visitationDetails">
                        <i class="fas fa-tablets"></i>
                        <h5>Allergic Disorders</h5>
                        <p>
                            Open visitation with only two visitors in a room at any time. No one under 12 years of age may.
                        </p>
                    </div>
                    <div class="visitationDetails">
                        <i class="fas fa-heartbeat"></i>
                        <h5>Neoplastic Disorders</h5>
                        <p>
                            Open visitation with only two visitors in a room at any time. No one under 12 years of age may.
                        </p>
                    </div>
                </div>
            </section>
    
            <section class="service">
                <div class="serviceDetails servicegrid1">
                    <h5 class="serviceDetailHead">Service Details</h5>
                        <div class="details">
                            <p class="child1">Price</p>
                            <p class="child2">from $340</p>
                        </div>
                        <div class="details">
                            <p class="child1">Duration</p>
                            <p class="child2">10 Minuts</p>
                        </div>
                        <div class="details">
                            <p class="child1">Office</p>
                            <p class="child2">#46</p>
                        </div>
                        <div class="details">
                            <p class="child1">Doctor</p>
                            <p class="child2">Dr. Elizabeth Beard</p>
                        </div>
                        <div class="details">
                            <p class="child1">Categories</p>
                            <p class="child2">Family Medicine</p>
                        </div>
                </div>
                <div class="serviceDetails servicegrid2">
                    <h5 class="serviceDetailHead">Schedule</h5>
                        <div class="details">
                            <p class="child1">Tuesday</p>
                            <p class="child2">10.00am - 01.00pm</p>
                        </div>
                        <div class="details">
                            <p class="child1">Friday</p>
                            <p class="child2">07.00am - 10.00pm</p>
                        </div>
                </div>
            </section>

        </section>

        <section class="moreServices">
            <div class="moreServiceHead">
                <h3 >More Services</h3>
                <div class="leftRightIcons">
                    <i class="fas fa-chevron-left"></i>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="moreServicesItems">
                <div class="service">
                    <figure class="moreServicesfig">
                        <img class="moreServicesimg" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                    </figure>
                    <h5 class="serviceDetailHead">Orthopedic Surgery</h5>
                </div>
                <div class="service">
                    <figure class="moreServicesfig">
                        <img class="moreServicesimg" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
                    </figure>
                    <h5 class="serviceDetailHead">Cancer</h5>
                </div>
                <div class="service">
                    <figure class="moreServicesfig">
                        <img class="moreServicesimg" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                    </figure>
                    <h5 class="serviceDetailHead">Cardiology</h5>
                </div>
            </div>
        </section>

        <section class="footer1">
            <figure class="foot-image">
                <a href="../views/index.html">
                <img class="footer-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="">
                </a>
            </figure> 
                <div class="foot-list">       
                    <ul>                       
                        <li><a href="doctor.html">Doctors</a></li>
                        <li><a href="hospital.html">Hospitals</a></li>
                        <li><a href="treatments.html">Treatment</a></li>
                        <li>Other Services</li>
                        <li><a href="FAQ.html">FAQs</a></li>
                    </ul>
                </div> 
                <div class="foot-list2 socialMedia">
                    <ul>                       
                        <li><i class="fab fa-facebook-f"></i></li>
                        <li> <i class="fab fa-pinterest-p"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-google-plus-g"></i></li>
                        <li> <i class="fab fa-instagram"></i></li>
                    </ul>
                </div>
                <div class="foot-rights">
                    <p>All Rights Reserved. © tvastra 2018</p>
                </div>
        </section>
    </body>
</html>