<html>
    <head>
        <title>Tvastra/About Apollo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/themes.css">
        <link rel="stylesheet" href="../css/tvastraPlus.css">               
    </head>
    <body>
        <nav class="top-nav">
            <div class="nav-logo">
                <img class="logo-tvastra" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" >
            </div>
            <div class="desktop-nav desktop">          
                    <ul>                            
                        <li><a href="doctor.html">Doctors</a></li>
                        <li><a href="hospital.html">Hospitals</a></li>
                        <li><a href="treatments.html">Treatments</a></li>
                        <li>Other Services</li>
                        <li><a href="aboutUs.html">About</a></li>
                    </ul>
            </div>
            <div class="navButtons desktop">
                        <button class="third navButton1">
                            Login/Signup
                        </button>
                        <button class="primary navButton2">                        
                            Get a Quote
                        </button>
            </div>
            <i class="fas fa-bars mob-tab"></i>
        </nav>
        <section>
            <div class="headButton">
                <button class="secondary">PLUS</button>
            </div>
            <h1>Healthcare plans for you and your family.</h1>
            <p>Become a Tvastra Plus Member and save 60% off on your yearly health expenses.</p>
        </section>

        <section class="planSelection">
            <div class="planHead">
                <h3>Select a Tvastra Plus healthcare plan</h3>
                <p>All Plus plans are for 4 adults and 2 children.</p>
            </div>
            <p class="popular">Popular</p>
            <div class="plans">
                <div class="planItems">
                        <div class="planItemHead">
                            <h4>Basic Plan</h4>
                        </div>
                        <div class="planDetails">
                            <ul>
                                <li>Unlimited Consultation with any speciality.</li>
                                <li>20% Off on prescription medicines</li>
                                <li>20% off on tests & checkups. </li>
                            </ul>    
                        </div>
                        <div class="planItemFoot">
                            <h4>&#x20B9 2,999/year</h4>
                            <h5>View Plan Details</h5>
                            <button class="secondary">Buy Plan</button>
                        </div>
                </div>
                <div class="planItems">
                    <div class="planItemHead">
                        <h4>Advanced Plan</h4>
                    </div>
                    <div class="planDetails">
                        <ul>
                            <li>Unlimited Consultation with any speciality.</li>
                            <li>20% Off on prescription medicines</li>
                            <li>20% off on tests & checkups. </li>
                            <li>10 Free In-Clinic consultations.</li>
                        </ul>    
                    </div>
                    <div class="planItemFoot">
                        <h4>&#x20B9 3,999/year</h4>
                        <h5>View Plan Details</h5>
                        <button class="secondary">Buy Plan</button>
                    </div>
                </div>
                <div class="planItems">
                    <div class="planItemHead">
                        <h4>Comprehensive Plan</h4>
                    </div>
                    <div class="planDetails">
                        <ul>
                            <li>Unlimited Consultation with any speciality.</li>
                            <li>20% Off on prescription medicines</li>
                            <li>20% off on tests & checkups. </li>
                            <li>10 Free In-Clinic consultations.</li>
                            <li>2 Master health checkups</li>
                        </ul>    
                    </div>
                    <div class="planItemFoot">
                        <h4>&#x20B9 5,999/year</h4>
                        <h5>View Plan Details</h5>
                        <button class="secondary">Buy Plan</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="acheivements">
            <div class="acheivementsHead">
                <h5>Trusted by 2 Crore+ users every month</h5>
                <p>
                    Tvastra is the leading healthcare technolgy company in India. We began in 2009 and today we help 2 crore customers every month.
                </p>
            </div>
            <div class="ratings">
                <h1>4.5</h1>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>1000+ Reviews</p>
            </div>
            <div class="ratingBars">
                <div class="ratingBarItem">
                    <span>5</span>
                    <div class="ratingBarBase ratingBar1"></div>
                </div><div class="ratingBarItem">
                    <span>4</span>
                    <div class="ratingBarBase ratingBar2"></div>
                </div><div class="ratingBarItem">
                    <span>3</span>
                    <div class="ratingBarBase ratingBar3"></div>
                </div><div class="ratingBarItem">
                    <span>2</span>
                    <div class="ratingBarBase ratingBar4"></div>
                </div><div class="ratingBarItem">
                    <span>1</span>
                    <div class="ratingBarBase ratingBar5"></div>
                </div>
            </div>
            <div class="acheivementsSummary">
                <div class="acheivedItem">
                    <i class="fas fa-users"></i>
                    <h5>2 Crore+</h5>
                    <p>Monthly Customers</p>
                </div>
                <div class="acheivedItem">
                    <i class="fas fa-user-md"></i>
                    <h5>100,000+</h5>
                    <p>Verified Doctors</p>
                </div>
                <div class="acheivedItem">
                    <i class="fas fa-pills"></i>
                    <h5>10 Lakh+</h5>
                    <p>Medicine Orders Delivered</p>
                </div>
                <div class="acheivedItem">
                    <i class="fas fa-procedures"></i>
                    <h5>5 Crore+</h5>
                    <p>Doctor Appoinments</p>
                </div>
            </div>
        </section>

        <section class="Benefits">
            <div class="zeroFees">
                <h4>Zero fees for in-clinic consultation</h4>
                <div class="zeroFeesDetails">
                    <i class="fas fa-check-circle"></i>
                    <p>
                        Consult with 3000+ specialist doctors at top clinics & hospitals in the PLUS network ar Rs. 0 consultation fees*
                    </p>
                </div>
                <div class="zeroFeesDetails">
                    <i class="fas fa-check-circle"></i>
                    <p>
                        Upto 10 in-clinic consultations can be used by any family member over 12 month period.
                    </p>
                </div>
            </div>
            <div class="topHospitals">
                <div class="hospital">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg" alt="">
                </div>
                <div class="hospital">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg" alt="">
                </div>
                <div class="hospital">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg" alt="">
                </div>
                <div class="hospital">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg" alt="">
                </div>
                <div class="hospital">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg" alt="">
                </div>
                <div class="hospital">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg" alt="">
                </div>
                <div class="topHospitalsButton">
                    <button class="show-more">+More Hospitals</button>
                </div>
            </div>
            <div class="benefitDetails benefitDetails-1">
                <div class="benefitDetailsSub">
                    <h4>Unlimited online consultations with top doctors</h4>
                    <ul>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>Get all your health queries answered form any specialist online, any time of the day</span>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>Connect under 2 minutes on text, call or video - availabel 24 hrs. 7 days of the week.</span>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>All online consulations are confidential. Only patient and doctor can access the chats.</span>
                        </li>
                    </ul>  
                </div>
                <figure class="benefitDetailFigure">
                    <img class="benefitDetailImage" src="../images/docor_benefit_img.JPG" alt="">
                </figure>
            </div>
            <div class="benefitDetails benefitDetails-2">
                <div class="benefitDetailsSub">
                    <h4>Flat 20% Off on prescription medicine, lab tests & checkups</h4>
                    <ul>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>Save money on mecicines and lab tests for your entire family</span>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>Get flat 20% off on medicines that require prescirptions & flat 20% off on health checkups and lab tests.</span>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>No questions asked. No minimum order values, no limits, available in 100+ cities across India.</span>
                        </li>
                    </ul>      
                </div>
                <figure class="benefitDetailFigure">
                    <img class="benefitDetailImage" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="">
                </figure>
            </div>
            <div class="benefitDetails benefitDetails-1">
                <div class="benefitDetailsSub">
                    <h4>2 Free health checkups</h4>
                    <ul>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>Discuss your test results with doctors through online consultations. Receive E-Report within 48 hrs.</span>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>Home sample pickup</span>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>Tabs are NABL. CAP Accredited</span>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>Checkups can be booked anytime, even weekends. Tax deductible under 80D.</span>
                        </li>
                    </ul>         
                </div>
                <figure class="benefitDetailFigure">
                    <img class="benefitDetailImage" src="https://workspace.konfinity.com/swapnil/tvastra-wiki/-/wikis/uploads/8cae05c2e35c9a0f57fd8b8bc774ecd1/checkup.jpg" alt="">
                </figure>
            </div>
        </section>

        <section class="testsSection">
            <p>60 Tests Included</p>
            <div class="testsSectionSub">
                <div class="testsSectionDetails">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt="">
                    <h3>Vitamin Profile</h3>
                    <span>2 Tests</span>
                </div>
                <div class="testsSectionDetails">
                    <div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg" alt="">
                        <h3>Iron Deficiency Profile</h3>
                    </div>
                    <span>3 Tests</span>
                </div>
                <div class="testsSectionDetails">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg" alt="">
                    <h3>Thyroid Profile</h3>
                    <span>3 Tests</span>
                </div>
                <div class="testsSectionDetails">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg" alt="">
                    <h3>Liver Profile</h3>
                    <span>11 Tests</span>
                </div>
            </div>   
            <div class="dots">
                <span class="dot1"></span>
                <span class="dot"></span>
            </div>  
        </section>

        <section class="WhyWeLove">
            <div>
                <h2>Why we love Tvastra <span class="plus-button">PLUS</span></h2>
                <div class="reviewsSection">
                    <div class="review">
                        <p>"Wonderful experience with Tvastra Plus it helped me in saving a lot of amount
                            as it provides free consultations with best doctors."
                        </p>
                        <div class="reviewerDetails">
                            <figure>
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                            </figure>
                            <div>
                                <h3>Rishabh Tiwari</h3>
                                <div class="plan">
                                    Advanced Plan User
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <p>
                            "Fantastic experience with health test using Tvastra Plus. Didn't pay anything for test. I came to know my deficiency in vitamin where family doctor featre helped me with medicine."
                        </p>
                        <div class="reviewerDetails">
                            <figure>
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                            </figure>
                            <div>
                                <h3>Mini Agarwal</h3>
                                <div class="plan">
                                    Comprehensive  Plan User
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <p>
                            "24x7 access to doctors in just 60 seconds with 2 kids, one of them is bound to fall sick. Comes in super handy"
                        </p>
                        <div class="reviewerDetails">
                            <figure>
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                            </figure>
                            <div>
                                <h3>Mini Agarwal</h3>
                                <div class="plan">
                                    Comprehensive  Plan User
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="faqContainer">
            <div class="faq">
                <div class="faqItems">
                    <h5>How does free in-clinic consultation with doctors and hospitals work?</h5>
                    <i class="fas fa-angle-down angle-icon accordion-btn fa-rotate-180"></i>
                </div>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
                </p>
            </div>
            <div class="faq">
                <div class="faqItems">
                    <h5>Are there are any tpe of doctors not included in Tvastra Plus in-clinic consultation network?</h5>
                    <i class="fas fa-angle-down angle-icon accordion-btn fa-rotate-180"></i>
                </div>
            </div>
            <div class="faq">
                <div class="faqItems">
                    <h5>How do the unlimited online consultation work?</h5>
                    <i class="fas fa-angle-down angle-icon accordion-btn fa-rotate-180"></i>
                </div>
            </div>
            <div class="faq">
                <div class="faqItems">
                    <h5>How does flat 20% off on medicines work?</h5>
                    <i class="fas fa-angle-down angle-icon accordion-btn fa-rotate-180"></i>
                </div>
            </div>
            <div class="faq">
                <div class="faqItems">
                    <h5>How does 20% off on lab tests work?</h5>
                    <i class="fas fa-angle-down angle-icon accordion-btn fa-rotate-180"></i>
                </div>
            </div>
        </section>

        <section class="container7">
                <figure class="foot-image">
                    <img class="footer-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="">
                </figure> 
                <div class="foot-list">       
                    <ul>                       
                        <li><a href="doctor.html">Doctors</a></li>
                        <li><a href="hospital.html">Hospitals</a></li>
                        <li><a href="treatments.html">Treatments</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="FAQ.html">FAQs</a></li>
                    </ul>
                </div> 
                <div class="foot-list2">
                    <ul>                       
                        <li><i class="fab fa-facebook-f"></i></li>
                        <li> <i class="fab fa-pinterest-p"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-google-plus-g"></i></li>
                        <li> <i class="fab fa-instagram"></i></li>
                    </ul>
                </div>
                <div class="foot-rights">
                    <p>All Rights Reserved. © tvastra 2018</p>
                </div>
        </section>
    </body>
</html>