<html>
    <head>
        <title>Tvastra/About Apollo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/themes.css">
        <link rel="stylesheet" href="../css/tvastraPlus.css">    
        <link rel="stylesheet" href="../css/common.css">                
    </head>
    <body>
        <nav class="top-nav">
            <div class="nav-logo">
                <a href="./index.html">
                <img class="logo-tvastra" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" >
                </a>
            </div>
            <div class="desktop-nav desktop">          
                    <ul>                            
                        <li><a href="doctor.html">Doctors</a></li>
                        <li><a href="hospital.html">Hospitals</a></li>
                        <li><a href="treatments.html">Treatments</a></li>
                        <li>Other Services</li>
                        <li><a href="aboutUs.html">About</a></li>
                    </ul>
            </div>
            <div class="navButtons desktop">
                        <button class="third navButton1">
                            Login/Signup
                        </button>
                        <button class="primary navButton2">                        
                            Get a Quote
                        </button>
            </div>
            <i class="fas fa-bars mob-tab"></i>
        </nav>
        <section class="container">
            <section class="about">
                <div class="headButton">
                    PLUS
                </div>
                <h2>Healthcare plans for you and your family.</h2>
                <p>Become a Tvastra Plus Member and save 60% off on your yearly health expenses.</p>
                <div class="fade"></div>
            </section>
    
            <section class="planSelection">
                <div class="planDiv">
                    <div class="planHead">
                        <h3>Select a Tvastra Plus healthcare plan</h3>
                        <p>All Plus plans are for 4 adults and 2 children.</p>
                    </div>
                    <div class="plans">
                        <div class="planItems">
                                <div class="planItemHead">
                                    <h4>Basic Plan</h4>
                                </div>
                                <div class="planDetails">
                                    <ul>
                                        <li>Unlimited Consultation with any speciality.</li>
                                        <li>20% Off on prescription medicines</li>
                                        <li>20% off on tests & checkups. </li>
                                    </ul>    
                                </div>
                                <div class="planItemFoot">
                                    <h4>&#x20B9 2,999/year</h4>
                                    <h5>View Plan Details</h5>
                                    <button class="secondary">Buy Plan</button>
                                </div>
                        </div>
                        <div class="planItems advanced">
                            <p class="popular">Popular</p>
                            <div class="planItemHead">
                                <h4>Advanced Plan</h4>
                            </div>
                            <div class="planDetails">
                                <ul>
                                    <li>Unlimited Consultation with any speciality.</li>
                                    <li>20% Off on prescription medicines</li>
                                    <li>20% off on tests & checkups. </li>
                                    <li>10 Free In-Clinic consultations.</li>
                                </ul>    
                            </div>
                            <div class="planItemFoot">
                                <h4>&#x20B9 3,999/year</h4>
                                <h5>View Plan Details</h5>
                                <button class="secondary">Buy Plan</button>
                            </div>
                        </div>
                        <div class="planItems">
                            <div class="planItemHead">
                                <h4>Comprehensive Plan</h4>
                            </div>
                            <div class="planDetails">
                                <ul>
                                    <li>Unlimited Consultation with any speciality.</li>
                                    <li>20% Off on prescription medicines</li>
                                    <li>20% off on tests & checkups. </li>
                                    <li>10 Free In-Clinic consultations.</li>
                                    <li>2 Master health checkups</li>
                                </ul>    
                            </div>
                            <div class="planItemFoot">
                                <h4>&#x20B9 5,999/year</h4>
                                <h5>View Plan Details</h5>
                                <button class="secondary">Buy Plan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="acheivements">
                <div class="acheivementsHead">
                    <h4>Trusted by 2 Crore+ users every month</h4>
                    <p>
                        Tvastra is the leading healthcare technolgy company in India. We began in 2009 and today we help 2 crore customers every month.
                    </p>
                </div>
                <div class="ratingGrid">
                    <div class="ratings">
                        <h1>4.5</h1>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <p>1000+ Reviews</p>
                    </div>
                    <div class="ratingBars">
                        <div class="ratingBarItem">
                            <span>5</span>
                            <div class="ratingBarBase ">
                                <div class="ratingBar1"></div>
                            </div>
                        </div>
                        <div class="ratingBarItem">
                            <span>4</span>
                            <div class="ratingBarBase ">
                                <div class="ratingBar2"></div>
                            </div>
                        </div>
                        <div class="ratingBarItem">
                            <span>3</span>
                            <div class="ratingBarBase ">
                                <div class="ratingBar3"></div>
                            </div>
                        </div>
                        <div class="ratingBarItem">
                            <span>2</span>
                            <div class="ratingBarBase ">
                                <div class="ratingBar4"></div>
                            </div>
                        </div>
                        <div class="ratingBarItem">
                            <span>1</span>
                            <div class="ratingBarBase ">
                                <div class="ratingBar5"></div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="acheivementsSummary">
                    <div class="acheivedItem">
                        <i class="fas fa-users"></i>
                        <h5>2 Crore+</h5>
                        <p>Monthly Customers</p>
                    </div>
                    <div class="acheivedItem">
                        <i class="fas fa-user-md"></i>
                        <h5>100,000+</h5>
                        <p>Verified Doctors</p>
                    </div>
                    <div class="acheivedItem">
                        <i class="fas fa-pills"></i>
                        <h5>10 Lakh+</h5>
                        <p>Medicine Orders Delivered</p>
                    </div>
                    <div class="acheivedItem">
                        <i class="fas fa-calendar"></i>
                        <h5>5 Crore+</h5>
                        <p>Doctor Appoinments</p>
                    </div>
                </div>
            </section>

            <section class="Benefits">
                <div class="BenefitsHead">
                    <p>Benefits of Plus membership</p>
                    <div class="underLine"></div>
                </div>
                <div class="clinic">
                    <div class="zeroFees">
                        <h3>Zero fees for in-clinic consultation</h3>
                        <div class="zeroFeesDetails">
                            <i class="fas fa-check-circle"></i>
                            <p>
                                Consult with 3000+ specialist doctors at top clinics & hospitals in the PLUS network at Rs. 0 consultation fees*
                            </p>
                        </div>
                        <div class="zeroFeesDetails">
                            <i class="fas fa-check-circle"></i>
                            <p>
                                Upto 10 in-clinic consultations can be used by any family member over 12 month period.
                            </p>
                        </div>
                    </div>
                    <div class="topHospitals">
                        <h4>Top hospitals Onboarded</h4>
                        <div class="hospitalList">
                            <div class="hospital">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg" alt="">
                            </div>
                            <div class="hospital">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg" alt="">
                            </div>
                            <div class="hospital">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg" alt="">
                            </div>
                            <div class="hospital">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg" alt="">
                            </div>
                            <div class="hospital">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg" alt="">
                            </div>
                            <div class="hospital">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg" alt="">
                            </div>
                        </div>
                        <div class="topHospitalsButton">
                            <button class="show-more">+More Hospitals</button>
                        </div>
                    </div>
                </div>
                <div class="benefitDetails">
                    <div class="benefitDetailsSub">
                        <h3>Unlimited online consultations with top doctors</h3>
                        <div class="zeroFeesDetails">
                            <i class="fas fa-check-circle"></i>
                            <p>
                                Get all your health queries answered from any specialist online, any time of the day.
                            </p>
                        </div><div class="zeroFeesDetails">
                            <i class="fas fa-check-circle"></i>
                            <p>
                                Connect under 2 minutes on text, call or video - available 24 hrs. 7 days of the week.
                            </p>
                        </div><div class="zeroFeesDetails">
                            <i class="fas fa-check-circle"></i>
                            <p>
                                All online consulations are confidential. Only patient and doctor can access the chats.
                            </p>
                        </div>
                    </div>
                    <figure class="benefitDetailFigure">
                        <img class="benefitDetailImage" src="../images/docor_benefit_img.JPG" alt="">
                    </figure>
                </div>
                <div class="benefitDetails">
                    <div class="benefitDetailsSub">
                        <h3>Flat 20% Off on prescription medicine, lab tests & checkups</h3>
                        <div class="zeroFeesDetails">
                            <i class="fas fa-check-circle"></i>
                            <p>
                                Save money on mecicines and lab tests for your entire family
                            </p>
                        </div>
                        <div class="zeroFeesDetails">
                            <i class="fas fa-check-circle"></i>
                            <p>
                                Get flat 20% off on medicines that require prescirptions & flat 20% off on health checkups and lab tests.
                            </p>
                        </div>
                        <div class="zeroFeesDetails">
                            <i class="fas fa-check-circle"></i>
                            <p>
                                No questions asked. No minimum order values, no limits, available in 100+ cities across India.
                            </p>
                        </div>     
                    </div>
                    <figure class="benefitDetailFigure">
                        <img class="benefitDetailImage" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="">
                    </figure>
                </div>
                <div class="benefitDetails">
                    <div class="benefitDetailsSub">
                        <h3>2 Free health checkups</h3>
                        <div class="zeroFeesDetails">
                            <i class="fas fa-check-circle"></i>
                            <p>
                                Discuss your test results with doctors through online consultations. Receive E-Report within 48 hrs.
                            </p>
                        </div>
                        <div class="zeroFeesDetails">
                            <i class="fas fa-check-circle"></i>
                            <p>
                                Home sample pickup.
                            </p>
                        </div>
                        <div class="zeroFeesDetails">
                            <i class="fas fa-check-circle"></i>
                            <p>
                                Tabs are NABL. CAP Accredited
                            </p>
                        </div>
                        <div class="zeroFeesDetails">
                            <i class="fas fa-check-circle"></i>
                            <p>
                                Checkups can be booked anytime, even weekends. Tax deductible under 80D.
                            </p>
                        </div>       
                    </div>
                    <figure class="benefitDetailFigure">
                        <img class="benefitDetailImage" src="https://workspace.konfinity.com/swapnil/tvastra-wiki/-/wikis/uploads/8cae05c2e35c9a0f57fd8b8bc774ecd1/checkup.jpg" alt="">
                    </figure>
                </div>
            </section>

            <section class="testsSection">
                <h6>60 Tests Included</h6>
                <div class="testsSectionSub">
                    <div class="testsSectionDetails">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt="">
                        <h5>Vitamin Profile</h5>
                        <p>2 Tests</p>
                    </div>
                    <div class="testsSectionDetails">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg" alt="">
                            <h5>Iron Deficiency Profile</h5>
                            <p>3 Tests</p>
                    </div>
                    <div class="testsSectionDetails">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg" alt="">
                        <h5>Thyroid Profile</h5>
                        <p>3 Tests</p>
                    </div>
                    <div class="testsSectionDetails">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg" alt="">
                        <h5>Liver Profile</h5>
                        <p>11 Tests</p>
                    </div>
                </div>   
                <div class="dots">
                    <span class="dot1"></span>
                    <span class="dot"></span>
                </div>  
            </section>

            <section class="WhyWeLove">
                <div>
                    <div  class="whyWeLoveHead">
                        <h3>Why we love Tvastra</h3>
                        <div class="headButton">Plus</div>
                    </div>
                    <div class="reviewsSection">
                        <div class="review">
                            <p>"Wonderful experience with Tvastra Plus it helped me in saving a lot of amount
                                as it provides free consultations with best doctors."
                            </p>
                            <div class="reviewerDetails">
                                <figure class="reviewFigure">
                                    <img class="reviewImg" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                                </figure>
                                <div class="nameNplan">
                                    <h5>Rishabh Tiwari</h5>
                                    <div class="plan">
                                        Advanced Plan User
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review">
                            <p>
                                "Fantastic experience with health test using Tvastra Plus. Didn't pay anything for test. I came to know my deficiency in vitamin where family doctor featre helped me with medicine."
                            </p>
                            <div class="reviewerDetails">
                                <figure class="reviewFigure">
                                    <img class="reviewImg" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                                </figure>
                                <div class="nameNplan">
                                    <h5>Mini Agarwal</h5>
                                    <div class="plan">
                                        Comprehensive  Plan User
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review">
                            <p>
                                "24x7 access to doctors in just 60 seconds with 2 kids, one of them is bound to fall sick. Comes in super handy"
                            </p>
                            <div class="reviewerDetails">
                                <figure class="reviewFigure">
                                    <img class="reviewImg" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                                </figure>
                                <div class="nameNplan">
                                    <h5>Prachi Gupta</h5>
                                    <div class="plan">
                                        Comprehensive  Plan User
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="faqContainer">
                <h3>Frequently Asked Questions</h3>
                <div class="faq">
                    <div class="faqItems">
                        <h5>How does free in-clinic consultation with doctors and hospitals work?</h5>
                        <i class="fas fa-angle-down angle-icon accordion-btn fa-rotate-180"></i>
                    </div>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
                    </p>
                </div>
                <div class="faq">
                    <div class="faqItems">
                        <h5>Are there are any type of doctors not included in Tvastra Plus in-clinic consultation network?</h5>
                        <i class="fas fa-angle-down angle-icon accordion-btn fa-rotate-180"></i>
                    </div>
                </div>
                <div class="faq">
                    <div class="faqItems">
                        <h5>How do the unlimited online consultation work?</h5>
                        <i class="fas fa-angle-down angle-icon accordion-btn fa-rotate-180"></i>
                    </div>
                </div>
                <div class="faq">
                    <div class="faqItems">
                        <h5>How does flat 20% off on medicines work?</h5>
                        <i class="fas fa-angle-down angle-icon accordion-btn fa-rotate-180"></i>
                    </div>
                </div>
                <div class="faq">
                    <div class="faqItems">
                        <h5>How does 20% off on lab tests work?</h5>
                        <i class="fas fa-angle-down angle-icon accordion-btn fa-rotate-180"></i>
                    </div>
                </div>
            </section>

            <section class="container7">
                <figure class="foot-image">
                    <a href="../views/index.html">
                    <img class="footer-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="">
                    </a>
                </figure> 
                    <div class="foot-list">       
                        <ul>                       
                            <li><a href="doctor.html">Doctors</a></li>
                            <li><a href="hospital.html">Hospitals</a></li>
                            <li><a href="treatments.html">Treatments</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="FAQ.html">FAQs</a></li>
                        </ul>
                    </div> 
                    <div class="foot-list2">
                        <ul>                       
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li> <i class="fab fa-pinterest-p"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-google-plus-g"></i></li>
                            <li> <i class="fab fa-instagram"></i></li>
                        </ul>
                    </div>
                    <div class="foot-rights">
                        <p>All Rights Reserved. © tvastra 2018</p>
                    </div>
            </section>
            
        </section>
    </body>
</html>