<html>
    <head>
        <title>Tvastra/About Apollo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/themes.css">
        <link rel="stylesheet" href="../css/aboutApollo.css">  
        <link rel="stylesheet" href="../css/common.css">                  
    </head>
    <body>
        <nav class="top-nav">
            <div class="nav-logo">
                <a href="/">
                    <img class="logo-tvastra" src="../../images/tvastra_logo.png" >
                </a>
            </div>
            <div class="desktop-nav desktop">          
                    <ul>                            
                        <li><a href="doctor">Doctor</a></li>
                        <li><a href="hospital">Hospitals</a></li>
                        <li><a href="treatments">Treatments</a></li>
                        <li>Other Services</li>
                        <li><a href="aboutUs">About</a></li>
                    </ul>
            </div>
                <div class="navButtons">
                    <% if (user) { %>
                        
                        <button class="third navButton1 nav-mob-btn mob-tab" onclick="location.href='/logout'">
                            Logout
                        </button>
                        <button class="secondary navButton2 navButton desktop" onclick="location.href='/tvastraPlus'">                        
                            Tvastra Plus
                        </button>
                        <button class="primary navButton desktop" >
                                Get A Quote
                        </button>
                            <div class="drop desktop" >
                                <a >
                                    <div class="userName">
                                        <%= user.name  %>
                                       <i class="fas fa-angle-down "></i>
                                    </div>
                                </a>
                                <div class="dropContent">
                                    <a href="/logout">Logout</a>
                                </div>
                            </div>  
                        <% } else { %>
                            <button class="third navButton1 desktop" onclick="location.href='/login'">
                                Login/Signup
                            </button>
                            <button class="primary navButton2 desktop">                        
                                Get a Quote
                            </button>
                            <button class="third navButton1 nav-mob-btn mob-tab" onclick="location.href='/login'">
                                Login/Signup
                            </button>
                        <% } %>
                </div>
        </nav>
        <script src="../scripts/navigation.js"></script>
    </body>
</html>