<html>
    <head>
        <title>Tvastra.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/themes.css">
        <link rel="stylesheet" href="../css/index.css"> 
        <link rel="stylesheet" href="../css/header-footer.css"> 
        <link rel="stylesheet" href="../css/common.css">             
    </head>
    <body>
        <section class="container container6">
            <div class="subcontainer">
                <h2 class="cont6-1">Need Help?</h2>
                <p class="cont6-2">Just let us know, we will be happy to assist you.</p>
                <div class="cont6-3 ">
                    <button class="secondary " onclick="location.href='/query'">Submit your enquiry</button>
                </div>
            </div>
        </section>
    </body>
</html>