:root{
  --sky-blue:#1da1f2;
  --lt-skyblue:rgb(124, 176, 212);
  --dark-blue:#13132e;
  --light-blue:#a3d3e666;
  --deep-blue:#7ab0d4;
  --grey:grey;
  --mid-grey:#595a5a46;
  --light-gray:#f0f0f5;
  --button-blue:#0568aa;
  --black:#050505;
}   
@font-face {
  font-family: "Nexa-Bold";
  src: url(../fonts/Nexa-Bold.otf) format('truetype')
}
@font-face {
  font-family: "Nexa-Light";
  src: url(../fonts/Nexa-Light.otf) format('truetype')
}
.top-nav{
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.top-nav .logo-tvastra
{  
  width: 35%;
}
.top-nav .fa-bars{ 
  font-size: 15px;
  color:var(--grey);
  align-self: center;
  justify-self: flex-end;
}
.contactHead{
  text-align: center;
  padding: 5rem 1rem;
  background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png);
  color:white;
  background-position: bottom;
  background-size: cover;
}
.contactHead h1, .contactHead p{
  padding: .5rem;
}
.contactDetails{
  padding: .5rem;
  padding-left: 1rem;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contactDetails .fas{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--sky-blue);
}
.contactDetails h4, .contactDetails p{
  padding-left: 2rem;
}
.contactDetails h4{
  font-size: 1rem;
}
.contactDetails p{
  font-size: .8rem;
}
.inputContainer{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  grid-gap: .5rem;
  background-color: var(--deep-blue);
}
.inputContainer input{
    border: solid 2px var(--light-gray);
    height: 35px;
    font-weight: 600;
}
.messageButton{
  margin-left: auto;
}
.messageButton button{
  background-color: var(--button-blue);
}
.container7{
background-color: var(--dark-blue);
text-align: center;
padding: 0rem;
color: white;
border-bottom: 10px solid var(--sky-blue);
}
.container7 .foot-image{
  padding: 1.5rem;
}
.foot-image{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.footer-image{
  margin-left: auto;
  margin-right: 0rem;
  width: 100%;
}
.foot-list2{
  padding: 1rem;
}
.foot-list2 li{
  display: inline; 
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  padding:.5rem;
}
.foot-list{
  padding: 0rem 1rem;
}
.foot-list ul{
  padding: 0rem;
}
.foot-list li{
color: white;
font-size: 0.8rem;
font-weight: 400;
padding:1rem;
}
.foot-rights p{
  font-size: .9rem;
  padding: 1rem;
}
.mob{
  display: block;
}
.tab{
  display: none;
}
.desktop{
  display: none;
}
.mob-tab{
  display: block;
}
.tab-desktop{
  display: none;
}
@media only screen and (min-width: 768px){  
  .top-nav{
      padding: 2rem;
    }
    .top-nav .logo-tvastra
    {  
      width: 50%;
    }
    .top-nav .fa-bars{ 
      font-size: 18px;
    }
  .contact{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding:1.5rem;
  }
  .contactDetails{
    padding:0rem;
    }
    .detail3{
    }
    .detail3 h4, .detail3 p{
      padding-right: 0rem;
    }
    .inputContainer{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(4,35px);
      grid-gap: .5rem;
      padding: 1.5rem;
    }
    .ip1{
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .ip2{
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .ip3{
      grid-column: 1/2;
      grid-row: 3/4;
    }
    .ip4{
      grid-column: 2/3;
      grid-row: 1/4;
      height: 100%;
    }
    .inputContainer input{
      height: 100%;
    }
    .messageButton{
      grid-column: 2/3;
      grid-row: 4/5;
    }
  .container7{
  background-color: white;
  text-align: center;
  padding: 1rem 1.5rem;
  color: white;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  border-bottom: 5px solid var(--lt-skyblue);
  }
  .container7 .foot-image{
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 1rem 0rem;
    justify-self: flex-end;
  }
  .foot-image{
    width: 70%;
    margin: 0rem;
  }
  .footer-image{
    margin-left: auto;
    margin-right: 0rem;
    width: 100%;
  }
  .foot-list{
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 0rem ;
    justify-self: flex-start;
  }
  .foot-list ul{
    padding:0rem;
  }
  .foot-list li{
  color: var(--dark-blue);
  font-size:.8rem;
  font-weight: 400;
  padding: 1rem .5rem 1rem 0rem;
  display: inline;
  height: auto;
  word-wrap: break-word;
  }
  .container7 .foot-list2{
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: flex-end;
    font-size: 1.5rem;
    padding-right: 0rem;
  }
  .foot-list2 li{
    font-size: 1.2rem;
    color: var(--dark-blue);
  }
  .foot-rights{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .foot-rights p{
    font-size: .8rem;
    color: var(--dark-blue);
    padding: 0rem;
  }
  .mob{
    display: none;
  }
  .tab{
    display: block;
  }
  .desktop{
    display: none;
  }
  .mob-tab{
    display: block;
  }
  .tab-desktop{
    display: block;
  }
}
@media only screen and (min-width: 1024px){  
  .top-nav{
    display: grid;
    grid-template-columns: 15% 60% 25%;
    padding: 1.5rem 5rem;
  } 
  .nav-logo .logo-tvastra{
    padding: 0rem;
    width: 90%;
    align-self: flex-start;
    justify-self: left;
  }
  .top-nav .nav-desktop{
    display: grid;
    text-align: center;
  }   
  .desktop-nav{
    padding: 0rem;
    justify-self: center;
  }
  .desktop-nav ul{
    list-style-type: none;
    padding: 0rem;
  }
  .desktop-nav li{
    font-family: Nexa-Light;
    color: var(--dark-blue);
    padding: .8rem;
    float: left;
    font-size: 1rem;
    font-weight: 800;
  }
  .navButtons{
    align-self: center;
    justify-self: flex-end;
  }
  .contactHead{
    text-align: left;
    padding: 5rem;
  }
  .contactSection{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 2rem 5rem;
    border-bottom: 1px solid var(--mid-grey);
  }
  .contact{        
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    padding: 2rem 2rem 2rem 0rem;
  }
  .contact p{
    font-size: .7rem;
  }
  .inputContainer{
    padding: 2rem 2rem 0rem 2rem;
  }
  .container7{
  background-color: white;
  padding: 1rem 5rem;
  }
  .foot-image{
    width: 40%;
  }
  .foot-rights{
    text-align: left;
  }
  .mob{
    display: none;
  }
  .tab{
    display: none;
  }
  .desktop{
    display: block;
  }
  .mob-tab{
    display: none;
  }
  .tab-desktop{
    display: block;
  }
}