:root{
  --sky-blue:#1da1f2;
  --lt-skyblue:rgb(124, 176, 212);
  --dark-blue:#13132e;
  --light-blue:#a3d3e666;
  --deep-blue:#7ab0d4;
  --grey:grey;
  --mid-grey:#595a5a46;
  --light-gray:#f0f0f5;
  --button-blue:#0568aa;
  --black:#050505;
}  
@font-face {
  font-family: "Nexa-Bold";
  src: url(../fonts/Nexa-Bold.otf) format('truetype')
}
@font-face {
  font-family: "Nexa-Light";
  src: url(../fonts/Nexa-Light.otf) format('truetype')
}
.about{
  text-align: center;
  padding: 5rem 1rem;
  background-image: url(https://workspace.konfinity.com/swapnil/tvastra-wiki/-/wikis/uploads/c9d1aec0e1962082e41a8fa980fd20cc/contactUs.png);
  color:white;
  background-position: top;
  background-size: cover;
}
.about h1, .about p{
  padding: .5rem;
}
.mainContainer{
  padding: 1rem;
}
.subContainerDocProf{
  border:1px solid var(--mid-grey);
  padding-bottom: 1rem;
}
.docfigure{
  width: 100%;
  padding: .5rem;
}
.docImg{
  width: 100%;
}
.bookingButton{
  padding:.5rem;
}
.bookingButton button{
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}
.name{
  font-family: 'nexa-bold';
  font-size: 1.5rem;
  color: var(--button-blue);
  position: relative;
  text-align: left;
  padding: 2rem 2rem 1rem 3.5rem;
}
.name::before{
  content: '';
  border-bottom: 2px solid var(--button-blue);
  display: inline-block;
  width: 3.2rem;
  margin-right: 0.2rem;
  margin-left: -3.5rem;
  position: absolute;
  bottom:2rem;
}
.Summary{
  border-bottom: .5px dashed var(--mid-grey);
}
.Summary p{
text-align: center;
font-size: .8rem;
padding: 1rem 0rem;
}
.specialization{
  padding: 0rem 1rem;
}
.specializationHeading{
      display: grid;
      grid-template-columns: 10% 80% 10%;
      border-bottom: .5px dashed var(--mid-grey);
      padding: 0.7rem 0;
      color: var(--button-blue);
}
.description{
  background-color: var(--light-blue);  
}
.specialization p{
text-align: left;
font-size: .8rem;
}
.specializationHeading .fa-angle-down{
text-align: center;
border-radius: 50%;
height: 1.5rem;
width: 1.5rem;padding-top: .5rem;
background-color: var(--light-blue);
font-size: .8rem;
}
@media only screen and (min-width: 768px){ 
 
  .about{
    text-align: center;
    padding: 5rem 2rem;
    background-position:left;
    background-size: cover;
  }
  .mainContainer{
    padding: 2rem;
  }
  .subContainerDocProf{
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-template-rows: 1fr;
  }
  .imgSection{
    grid-column: 2/3;
    padding: 1rem;
  }
  .aboutDoctorSection{
    padding: 2rem;
    grid-row: 1/2;
  }
  .Summary{    
    padding:  0rem;
  }
  .Summary p{
    padding: 1rem;
  }
  .name{
    padding: 1rem;
  }
  .name::before {
    content: '';
    border-bottom: 2px solid var(--button-blue);
    display: inline-block;
    width: 2rem;
    margin: 0rem;
    margin-left: -2rem;
    position: absolute;
    bottom: 50%;
    left: 0rem;
}
  .aboutDoctorSection p{
    text-align: left;
    font-size: 1rem;
  }
  .specialization{
    padding:  0rem 0rem 0rem 1rem;
  }
  .specializationHeading {
    padding: 1rem 0rem;
    grid-template-columns:4% 86% 10%;    
  }
  .specializationHeading .fa-angle-down {
    justify-self: flex-end;
}
  .docfigure{
    height: 14rem;
    padding: 0rem;
  }
  .bookingButton{
    padding: 0rem;
  }
  .bookingButton button {
    font-size: .9rem;
}
}
@media only screen and (min-width: 1024px){  
  
  .about{
    text-align: left;
    padding: 5rem;
    background-position:left;
    background-size: cover;
  }
  .mainContainer{
    padding: 3rem 5rem;
  }
  .imgSection{
    padding: 2rem;
  }
  .docfigure{
    height: 26rem;
    padding-bottom: 1rem;
  }
}