:root{
  --sky-blue:#1da1f2;
  --lt-skyblue:rgb(124, 176, 212);
  --dark-blue:#13132e;
  --light-blue:#a3d3e666;
  --deep-blue:#7ab0d4;
  --grey:grey;
  --mid-grey:#595a5a46;
  --light-gray:#f0f0f5;
  --button-blue:#0568aa;
  --black:#050505;
  }  
  @font-face {
    font-family: "Nexa-Bold";
    src: url(../fonts/Nexa-Bold.otf) format('truetype')
  }
  @font-face {
    font-family: "Nexa-Light";
    src: url(../fonts/Nexa-Light.otf) format('truetype')
  }
  .about{
    text-align: center;
    padding: 5rem 1rem;
    background-image: url(https://workspace.konfinity.com/swapnil/tvastra-wiki/-/wikis/uploads/c9d1aec0e1962082e41a8fa980fd20cc/contactUs.png);
    color:white;
    background-position: top;
    background-size: cover;
  }
  .about h1, .about p{
    padding: .5rem;
  }
  .mainContainer{
    padding: 1rem;
  }
  .faqItems{   
    display: grid;
    grid-template-columns: 95% 5%;
    border: none; 
    font-family: 'nexa-bold';
    font-size: 1.5rem;
    color: var(--button-blue);
    position: relative;
    text-align: left;
  }  
  .faqItems h5{
    padding: .5rem 0rem;
    line-height: 1.5rem;
  }
  .fa-angle-down{
    text-align: center;
    border-radius: 50%;
    height: 1.4rem;
    width: 1.4rem;padding-top: .3rem;
    background-color: var(--light-blue);
    font-size: .8rem;
    align-self: center;
    }
    .description{
      background-color: var(--light-blue);
      font-size: .8rem;  
      padding: .5rem 0rem .5rem .5rem;
    }
  @media only screen and (min-width: 768px){ 
    .about{
      text-align: center;
      padding: 5rem 2rem;
      background-position:right;
      background-size: cover;
    }
    .mainContainer{
      padding: 2rem;
    }
    .faqItems h5 {
      padding: 1rem 0rem;
      word-spacing: .1rem;
  }
  .description {
    font-size: .9rem;
    letter-spacing: .02rem;
    line-height: 1.5rem;
  }
    .fa-angle-down{
      justify-self: flex-end;
    }
  }
  @media only screen and (min-width: 1024px){  
    
    .about{
      text-align: left;
      padding: 5rem;
      background-position:left;
      background-size: cover;
    }    
  .about p{
    font-size: 1.2rem;
  }
    .mainContainer{
      padding: 3rem 5rem;
    }
    .mainContainer h5{
      font-size: 1.4rem;
    }
    .mainContainer p{
      font-size: 1.1rem;
      font-weight: lighter;
      line-height: 150%;
      word-spacing: .05rem;
    }
  }