:root{
  --sky-blue:#1da1f2;
  --lt-skyblue:rgb(124, 176, 212);
  --dark-blue:#13132e;
  --light-blue:#a3d3e666;
  --deep-blue:#7ab0d4;
  --grey:grey;
  --mid-grey:#595a5a46;
  --light-gray:#f0f0f5;
  --button-blue:#0568aa;
  --black:#050505;
}  
  @font-face {
    font-family: "Nexa-Bold";
    src: url(../fonts/Nexa-Bold.otf) format('truetype')
  }
  @font-face {
    font-family: "Nexa-Light";
    src: url(../fonts/Nexa-Light.otf) format('truetype')
  }
  h1,h2,h4,p,li{     
    font-family:serif;
    font-weight: 400;
    letter-spacing: 0.01rem;
  }
  h4{
      font-size: 1.5rem;
  }
    .home{
        color: var(--black);
        padding:2rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "heading head-button";
    }
    .home h6{      
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 1.5rem;
      font-weight: 400;
    }
    .heading{
      align-self: flex-start;
      justify-self:left;
      padding: 0rem;
    }
    .home .head-button{
      padding: 0rem;
      justify-self:right;
      align-self: center;
    }
    .home .head-button button{
      padding: .75rem;
      width: auto;
    }
    .home .doctor-button .fa-angle-down{
      font-size: 1rem;
      color:black;
    }
    .hospitalSection{
        padding: 2rem;
    }
    .hospitalList{
        border: 1px solid var(--mid-grey);
        margin-bottom: 1rem;
    }    
    .hospitalFigure {
      width: 100%;
      margin: 0rem;
    }
    .hospitalImage {
      width: 100%;
       object-fit: contain;
      }
    .name{
    display: flex;
    color:var(--sky-blue);
    padding: 1rem 0rem;
    }
    .name::before{
    display: block;
    content: "";
    border-top: .15rem solid var(--lt-skyblue);
    width: 2rem;
    transform: translateY(.85rem);
    margin-right: 7px;
    }
    .hospitalDetails{
        position: relative;
        padding: .5rem 1rem 1rem 2.5rem;
    }
    .hospitalDetails p{
        font-weight: 500;
        font-size: 1.2rem;
    }
    .hospitalDetails .fas{
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: .8rem;
        color: var(--sky-blue);
    }
    .appliedFilters{
        font-family: serif;
        font-size: 1rem;
        letter-spacing: .01rem;
        display: flex;
        flex-wrap: wrap;
        padding: .5rem 1rem;
        grid-gap: .5rem;
        color: rgb(58, 58, 58);
      }
      .selectedFilters{
        position: relative;
        padding: .5rem 1.5rem .5rem 1rem;
        border: 1px solid var(--mid-grey);
        border-radius: 25px;
      }   
      .callButton{
          text-align: center;
          padding: 1rem;
      }
      .callButton .primary{
          padding: .5rem 4rem;
      }
  @media only screen and (min-width: 768px){ 
    
    .home{
        padding: 1rem 2rem;
    }
    .hospitalList{
        display: grid;
        grid-template-columns: 70% 30%;
        padding: 0rem;
    } 
    .name{
      padding: 1rem 0rem;
    }  
    .hospitalSummary{
        display: flex;
        flex-wrap: wrap;
        padding: .5rem 2rem;
    }
    .hospitalDetails{
        width: 50%;
        align-self: center;
        padding: 0rem;
        padding-left: 2.5rem;
    }
    .hospitalDetails .fas{
        font-size: 1rem;
        left: 0rem;
    }
    .hospitalDetails p{
  font-size: 1.2rem;
    }
    .appliedFilters{
        padding-left: 2rem;
    }
    .selectedFilters{
        font-size: .9rem;
        letter-spacing: .05rem;
        padding: .5rem;
    }
    .callButton{
        text-align: left;
        padding: 2rem 0rem 1rem 2rem;
    }
    .callButton .primary{
        font-size: 1rem;
        padding:.5rem 4rem
    }
    .hospitalList {
      margin: .5rem 0rem;
      margin-top: 0rem;
    }
    .hospitalFigure {
      height: 100%;
      }
    .hospitalImage {
      height: 404px;
      object-fit: cover;
      }
  }
  @media only screen and (min-width: 1024px){  
    
    .hospital-searchBox{
      position: relative;
      font-weight: normal;
      background-image: linear-gradient(to bottom, rgba(168,197,236,0.85), rgba(168,197,236,0.85)), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 3rem 0rem;
    }
    .hospital-searchBox h3{
      font-family: Nexa-Light;
      font-size: 1.5rem;
      text-shadow: 1px 0;
      padding:5rem;
    }
    .hospital-searchBox a{
      text-decoration: underline;
      font-family: Nexa-Bold;
    }
      .home{
          padding: 2rem 5rem;
      }
      .home h6{  
        font-family: Nexa-Light;
        color: var(--dark-blue);
      }
      .hospitalSection{
        display: grid;
        grid-template-columns: 25% 75%;
        padding: 2rem 5rem;
      }
      .filterBox{
        padding-right: 2rem;
      }
    .filterHead{
      background-color: var(--mid-grey);
    }
    .filterHead h5{
      padding: 1rem;
      font-size: .8rem;
      color: var(--dark-blue);
    }
    .filterCriteria{      
      border-bottom: .1px solid var(--grey);
    }
    .criteriaHead
    {
      position: relative;
      display: grid;
      grid-template-columns: 5fr 1fr 1fr;
      padding: 2rem 0rem;
    }
    .criteriaHead h3{
      font-family: Nexa-Light;
      font-size: 1rem;
      line-height: 1.2rem;
      padding-left: 1rem;
    }
    .criteriaHead .fa-search{
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      color: var(--sky-blue);
      font-size: .8rem;
      align-self: center;
      justify-self: self-end;
    }
    .criteriaHead .fa-minus{
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      color: var(--grey);
      font-size: .8rem;
      font-weight: bolder;
      align-self: center;
      justify-self: self-end;
    }
    .filterDetails{
      display: grid;
      grid-template-columns: 10% 90%;
      grid-gap: 1rem;
      padding-bottom: .5rem;
    }
    .filterItems{
      position: relative;
      padding-left: 1rem;
    }
    .filterItems .fas{
      position: absolute;
      font-size: .6rem;
      left: 80%;
      top: 25%;
      color: var(--sky-blue);
    }
    .itemName{
      padding-left: 1rem;
    }
    .showMoreButton{
      padding: 1rem;
    }
    .hospitalList{
      display: grid;
      grid-template-columns: 65% 35%;
    }
    .hospitalSummary{
    }
    .hospitalDetailSection{
      display: block;
      padding-right: 2rem;
    }
    .hospitalDetails{
      padding: 1rem 1rem 1rem 2.5rem;
    }
    .hospitalImage{
      height: 370px;
    }
    .hospitalDetailSection h4{
      font-family: Nexa-bold;
    }
    .hospitalDetailSection p{
      font-family: Nexa-Light;
      font-size: .8rem;
      text-shadow: .2px 0;
    }
    .selectedFilters{
      font-family: Nexa-Light;
      text-shadow: .2px 0;
      font-size: .8rem;
    }
    .selectedFilters2{
      background-color: var(--light-gray);
    }
    .callButton{
      padding:1rem 2rem
    }
  }