:root{
  --sky-blue:#1da1f2;
  --lt-skyblue:rgb(124, 176, 212);
  --dark-blue:#13132e;
  --light-blue:#a3d3e666;
  --deep-blue:#7ab0d4;
  --grey:grey;
  --mid-grey:#595a5a46;
  --light-gray:#f0f0f5;
  --button-blue:#0568aa;
  --black:#050505;
  }   
    @font-face {
      font-family: "Nexa-Bold";
      src: url(../fonts/Nexa-Bold.otf) format('truetype')
    }
    @font-face {
      font-family: "Nexa-Light";
      src: url(../fonts/Nexa-Light.otf) format('truetype')
    }
    .container{    
      background-color: var(--deep-blue);
      padding: 2rem 1rem;
    }
    .queryBox{  
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .queryBoxhead{
        text-align: center;
        color: var(--button-blue);
        padding: 2rem;
        border-bottom: solid 1px var(--mid-grey);
    }
    .inputContainer{
      padding: 1rem 1rem 5rem 1rem;
    }
    .loginButton{
      position: relative;
        padding:.5rem 0rem
    }
    .loginButton button{
        width: 100%;
        height: 60px;
        font-size: 1rem;
        letter-spacing: .25rem;
        font-weight: 600;
      }
      .loginButton .fas{
          position: absolute;
          right: 5%;
          top: 50%;
          transform: translateY(-70%);
          color: white;
      }
    .inputContainer input{
        border: solid 1px var(--mid-grey);
        height: 50px;
        margin-bottom: 1rem;
        font-weight: 800;
    }
    ::placeholder{
      text-indent: 5%;
      color: var(--grey);
      font-weight: 800;
    }
    .queryMessage textarea {
      border: solid 1px var(--mid-grey);
      color: var(--grey);
      height: 50px;
      margin-bottom: 1rem;
      height: 200px;
      width: 100%;
      padding-top: 1rem;
}
.submitButton{
  position: relative;
}
.submitButton button{
  width: 100%;
  letter-spacing: .5rem;
  height: 50px;
}
.submitButton .fas{
  position: absolute;
  top: 50%;
  right: 8%;
  color: white;
  transform: translateY(-50%);
}
    .foot-rightsQuery{
        text-align: center;
    }
    .foot-rightsQuery p{
      font-family: Nexa-Bold;
      font-size: .8rem;
      padding: 2rem 0rem 0rem 0rem;
    }
    @media only screen and (min-width: 768px){  
        .container{
          padding: 4rem 10rem 10rem 10rem;
        }
    }
    @media only screen and (min-width: 1024px){  
      
      .queryBox{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }