:root{
  --sky-blue:#1da1f2;
  --lt-skyblue:rgb(124, 176, 212);
  --dark-blue:#13132e;
  --light-blue:#a3d3e666;
  --deep-blue:#7ab0d4;
  --grey:grey;
  --mid-grey:#595a5a46;
  --light-gray:#f0f0f5;
  --button-blue:#0568aa;
  --black:#050505;
}  
  @font-face {
    font-family: "Nexa-Bold";
    src: url(../fonts/Nexa-Bold.otf) format('truetype')
  }
  @font-face {
    font-family: "Nexa-Light";
    src: url(../fonts/Nexa-Light.otf) format('truetype')
  }
  .top-nav{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .signUpBox{  
    background-color: white;
    margin: 3rem 0rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .signUpBoxhead{
      text-align: center;
      color: var(--sky-blue);
      padding: 2rem 1rem;
      border-bottom: solid 1px var(--light-gray);
  }
  .inputContainer{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    grid-gap: .5rem;
  }
  .mobNumInput{
      position: relative;
      padding-bottom: .5rem;
  }
  .mobNumInput .fas{
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-70%);
      color: var(--light-gray);
      font-size: 1.2rem;
  }
  .signUpButton{
    position: relative;
    padding: 0rem;
    width: 100%;
  }
  .signUpButton button{
      width: 100%;
      height: 45px;
      font-size: 1rem;
      letter-spacing: .25rem;
      font-weight: 500;
    }
    .signUpButton .fas{
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-70%);
        color: white;
    }
  .inputContainer input, .inputContainer select{
      border: solid 1px var(--light-gray);
      height: 35px;
  }
  ::placeholder,select{
    color:var(--mid-grey);
    font-weight: bolder;
    font-family: Nexa-Bold;
  }
  .subInput{
    width: 48%;
    display: inline-block;
  }
  .redirect{
      text-align: center;
      padding: .5rem 0rem 1rem 0rem;
  }
  .redirect p{
    font-family: Nexa-Bold;
    font-size: .8rem;
    color: var(--grey);
  }
  .redirect a{
      color: var(--sky-blue);
  }
  .foot-rights{
      text-align: center;
  }
  .foot-rights p{
      font-family: Nexa-Bold;
    font-size: .8rem;
    padding:1rem;
  }
  @media only screen and (min-width: 768px){  
    
    .signUpBox{
      margin: 8rem;
    }
  }
  @media only screen and (min-width: 1024px){  
    
    .container{
      position: relative;
      height: 1000px;
    }    
    .signUpBox{
      margin: 0rem;
      width: 45%;
      position: absolute;
      top: 50%; right: 50%;
      transform: translate(50%,-50%);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .foot-rights{
      position: absolute;
      bottom: 3%;
      left: 50%;
      transform: translateX(-50%);
    }
  }