.logo-tvastra
{
  height: 40%;
  width: 30%;
}
.first-nav{
  position: relative; 
}
.first-nav .fa-bars{
  position: absolute; 
  right: 5%;
  top: 40%;
  color: var(--grey);
}
.container1 {
    display: grid;
    background-color:var(--light-blue);
    position: relative;
    width: 100%;
    grid-template-areas:
    "heading1 heading1"
    "description1 description1"
    "search1 search1"
    "search-button1 search-button1";
  }
  
  .heading1 {    
    grid-area: heading1;
    text-align: center;
    color: var(--dark-blue);
  }

  .description1 {
    grid-area: description1;
    text-align: center;
    color:var(--dark-blue);
  }
  .search1 { 
    position: relative; 
    grid-area: search1;
  }
  .search1 input { 
    text-indent: 20px; 
    margin-top: .25rem;
    margin-bottom: .25rem; 
    border: none;
    width: 100%;
    height: 40px;
  }
  .search1 .fa-map-marker { 
    position: absolute;
    top: 25px;
    right: 92%;
    font-size: 14px;
  }
  .search1 .fa-crosshairs { 
    position: absolute;
    top: 25px;
    left: 92%;
    font-size: 14px;
  }
  
  .search-button1 {    
    grid-area: search-button1; 
    text-align: center;   
  }

.container2 {
    display: grid;
    position: relative;
    width: 100%;
    text-align: center;
    grid-template-areas: 
    "heading2 heading2"
    "description2 description2"
    "FixConsultation FixConsultation"
    "img2 img2"
    "heading2_1 heading2_1"
    "description2_1 description2_1"
    "stages stages";    
  }

  .heading2 {    
    grid-area: heading2;
    color:var(--dark-blue);
    text-align: center;
  }

  .description2 {    
    grid-area: description2;
    text-align: center;
    color: var(--dark-blue);
  }

  .FixConsultation{
    position: relative; 
    grid-area: FixConsultation;
    font-family: "Nexa-Bold";
  }
  .FixConsultation input{      
    width: 100%;
    height: 40px;
    font-size: 40px;
    border: 1px solid;
    border-color:var(--dark-blue);
    border-radius: 10px;
  }
  .FixConsultation .num { 
    position: absolute;
    font-size: 1.2rem;
    top: 40%;
    right: 90%;    
    color: var(--sky-blue)
  }
  .FixConsultation .tex { 
    position: absolute;
    font-size: 1.2rem;
    top: 40%;
    left: 15%;
    color: var(--dark-blue);
  }
  .img2{
    grid-area: img2;
    margin: auto;
    display: block;
    width: 80%;
  }
  .heading2_1{
    grid-area: heading2_1;
    color:var(--dark-blue);
    width: 100%;
  }
  
  .description2_1{
    grid-area: description2_1;
    text-align: center;
    color:var(--dark-blue);
  }
  .stages
  {
    grid-area: stages;
  }

  .stages input {      
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    opacity: 50%;
    text-indent: 20px; 
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .stages ::placeholder{
    font-family: "Nexa-Bold";
  }

  .container3 {
    display: grid;
    width: 100%;
    position: relative;
    background-color: var(--dark-blue);
    grid-template-areas: 
    "heading3 heading3"
    "description3 description3"  
    "doc-profiles doc-profiles";
  }
  .heading3{
    grid-area: heading3;
    text-align: center;
    color: white;
  }
  .description3 {
    grid-area: description3;
    text-align: center;
    color:white;
  }
  .doc-profiles{
    grid-area: doc-profiles;
    width: 100%;
  }
  .photo {
    background-color: white;
    color: black;
    border-bottom: 5px solid var(--lt-skyblue);
  }
  .doc-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .new-add{
  }
  .doc-details{
  }
  .details-doc{
  }
  .details-doc ul{
  }
  .add {
    display: flex;
  }
  .color-blue {
    color:var(--sky-blue);
  }
  .color-blue::before {
    display: block;
    content: "";
    border-top: .2rem solid var(--sky-blue);
    width: 2rem;
    transform: translateY(0.5rem);    
  }
  
.container4{
    display: grid;
    width: 100%;
    position: relative;
    background-color:white;
    grid-template-areas: 
    "heading4 heading4"  
    "description4 description4"
    "treatments treatments";
}
.heading4{
  grid-area: heading4;
  color: var(--dark-blue);
  text-align: center;
}
.description4{
  grid-area: description4;
  text-align: center;
  color:var(--dark-blue); 
}
.treatments{
  position: relative;
  grid-area: treatments; 
}
.treatments-det{
  margin: .5rem;
}
.treatment-img{
  object-fit: cover;
  height: 350px;
}
.treatments-det .department-details{
  position: absolute;    
  bottom: 1rem;
  left: 5%;
  font-size: .5rem;
  color: white;
}
.department-details p{
  font-size: .9rem;  
}
.treatment-name{
}
.treatments-det{
  position: relative;
  color: white;
}
.treatments-det::before {
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  width: 100%;
  height: 70px;
  content: "";
  z-index: 0;
  background: linear-gradient(to top, rgba(0,0,0,1), transparent);
}
.container5{
  display: grid;
  width: 100%;
  position: relative;
  background-color: rgba(128, 128, 128, 0.171);
  grid-template-areas: 
    "heading5 heading5"  
    "description5 description5"
    "Services Services";
}
.heading5{
  grid-area: heading5;
  text-align: center;
    color:var(--dark-blue);
}
.description5{
  grid-area: description5;
  text-align: center;
  color:var(--dark-blue); 
}
.Services{
  display: grid;
  position: relative;
  grid-area: Services;
  padding:.5rem .5rem 1rem .5rem;  ;
  text-align: center;
  font-family: "Nexa-Bold";
  color:var(--grey);
  text-transform: uppercase;
  grid-template-rows:    1fr 1fr 1fr;
  grid-template-columns:50% 50%;
}
.service-icons {
  position: relative;
  background-color: white;
  height: 130px;
  margin: .5rem;
  border-radius: 10px;
}
.icon-img{
  position: absolute;
  display: block;
  max-width:80px;
  max-height:95px;
  left: 25%;
  top: 8%;
}
.on-icon { 
  font-size: .8rem; 
  display: inline-block; 
}
.container6{
  display: grid;
  width: 100%;
  position: relative;
  background-color: var(--light-blue);
  text-align: center;
  grid-template-areas: 
    "heading6 heading6"  
    "description6 description6"
    "enquiry-button enquiry-button";
}
.heading6{
  grid-area: heading6;
  position: relative;
  color: white;
}
.description6{
  grid-area: description6;
  position: relative;
}
.enquiry-button{
  grid-area: enquiry-button;
}
.container7{
  display: grid;
  position: relative;
  width: 100%;
  background-color:var(--dark-blue);    
  color: white; 
  grid-template-areas: 
    "transperent-logo transperent-logo"  
    "services-quick services-quick"
    "social-media social-media"
    "copy-right copy-right";    
}
.transperent-logo{
  grid-area: transperent-logo;
  margin: auto;
  display: block;
  width: 40%;
}
.services-quick{
  position: relative;
  grid-area: services-quick;
  text-align: center;
}
.quick-services{
  position: relative;
  font-size: .8rem;
  font-weight: 100;
  letter-spacing: .09rem;  
  color: white;
}
.social-media { 
  grid-area: social-media;
  position: relative;
}
.fa-facebook-f { 
  left: 30%;
  font-size: 14px;
}
.fa-pinterest-p {
  left: 40%;
  font-size: 14px;
}
.fa-twitter { 
  left: 50%;
  font-size: 14px;
}
.fa-google-plus-g { 
  left: 60%;
  font-size: 14px;
}
.fa-instagram { 
  left: 70%;
  font-size: 14px;
}
.copy-right{
  grid-area: copy-right;  
  text-align: center;
  font-size: .7rem;  
  color: white;
}